/* GLOBAL STYLES */ /**---------------------
		  *
		  * Resets
		  *
		  *---------------------**/
figure {
  margin: 0;
}
* {
  box-sizing: border-box;
}
button {
  background: none;
  border: none;
}
a {
  text-decoration: none;
}
:focus {
  outline: 0;
}
ul,
ol {
  padding-left: 20px;
}
dd,
dl {
  margin: 0 0 1.75em;
}
dt {
  font-weight: 700;
}

code {
  padding: 0.2rem 0.4rem;
  font-size: 90%;
  color: #bd4147;
  background-color: #f7f7f9;
  border-radius: 0.25rem;
}

blockquote {
  border: 0 solid #1a1a1a;
  border-left-width: 4px;
  color: #686868;
  font-size: 1.7rem;
  font-style: italic;
  line-height: 1.4736842105;
  margin: 0 0 1.4736842105em;
  overflow: hidden;
  padding: 0 0 0 1.263157895em;
}

blockquote cite,
blockquote small {
  color: #1a1a1a;
  display: block;
  font-size: 1.6rem;
  line-height: 1.75;
  font-style: normal;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote > :last-child {
  margin-bottom: 0;
}

address {
  font-style: italic;
  margin: 0 0 1.1em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

abbr,
acronym {
  border-bottom: 1px dotted #d1d1d1;
  cursor: help;
}

big {
  font-size: 125%;
}

code,
kbd,
tt,
var,
samp,
pre {
  font-family: Inconsolata, monospace;
}

del {
  opacity: 0.8;
}

mark,
ins {
  background: #79a7c6;
  color: #fff;
  padding: 0.125em 0.25em;
  text-decoration: none;
}

pre {
  border: 1px solid #d1d1d1;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.3125;
  margin: 0 0 1.75em;
  max-width: 100%;
  overflow: auto;
  padding: 1.75em;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/**---------------------
            *
            * Global Styles
            *
            *---------------------**/
html {
  font-size: 62.5%;
  box-sizing: border-box;
  background-color: #1a1a1a;
}

body {
  font-size: 1.4rem;
  line-height: 1.714285714285714;
  -webkit-font-smoothing: antialiased;
  color: #757575;

  background-image: url(https://img.mobius.studio/themes/teem/LTR/assets/img/body-bg.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.font-1,
html {
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
}

.text-center {
  text-align: center;
}
.margin-0 {
  margin: 0;
}
.margin-top-0 {
  margin-top: 0;
}
.margin-bottom-0 {
  margin-bottom: 0;
}
.minus-margin-top-bottom-15 {
  margin-top: -15px;
  margin-bottom: -15px;
}
.minus-margin-top-bottom-5 {
  margin-top: -5px;
  margin-bottom: -5px;
}

.space {
  height: 10px;
}
.space-2 {
  height: 20px;
}
.space-3 {
  height: 30px;
}

.margin-top-5 {
  margin-top: 5px;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-top-15 {
  margin-top: 15px;
}
.margin-top-20 {
  margin-top: 20px;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
.margin-bottom-15 {
  margin-bottom: 15px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.space-3 {
  height: 30px;
}

.divider {
  margin: 0;
}
.divider-30 {
  margin: 30px 0;
}
.divider.colored {
  height: 1px;
  background: rgba(0, 0, 0, 0.07);
}
.divider-30.colored {
  height: 1px;
  background: rgba(0, 0, 0, 0.07);
}

.divider.o-ring,
.divider-30.o-ring {
  position: relative;
  height: 2px;
}

.divider.o-ring:before,
.divider-30.o-ring:before {
  width: 13px;
  height: 13px;
  position: absolute;
  content: "";
  left: 50%;

  border-radius: 50%;
  border: 2px solid #ededed;
  background-color: #fff;

  -webkit-transform: translateX(-50%) translateY(-7px);
  transform: translateX(-50%) translateY(-7px);
}

.pull-left {
  float: left;
}
.pull-right {
  float: right;
}

.align-left {
  float: left;
  margin: 5px 10px 0 0;
}
.align-right {
  float: right;
  margin: 5px 0 0 10px;
}

.clearfix:after,
.clearfix:before {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

h2 {
  margin-bottom: 7.5px;
}
p {
  margin: 7.5px 0 0;
}
small {
  font-size: 1rem;
  line-height: 1;
}
b {
  font-weight: 700;
}
strong {
  font-weight: 900;
}
p {
  margin: 0 0 1.1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  line-height: 1.5;
  color: #212121;
}

h1,
.h1 {
  font-size: 2.7rem;
}
h2,
.h2 {
  font-size: 1.9rem;
}
h3,
.h3 {
  font-size: 1.7rem;
}
h4,
.h4 {
  font-size: 1.5rem;
}
h5,
.h5 {
  font-size: 1.3rem;
}
h6,
.h6 {
  font-size: 1rem;
}

a,
.primary-color {
  color: #e74c3c;
}
.secondary-color {
  color: #442672;
}
.light-color {
  color: #fff;
}
.light-color-2 {
  color: rgba(255, 255, 255, 0.54);
}
.dark-color {
  color: #333030;
}
.ocean-color {
  color: #2b90d9;
}
.grass-color {
  color: #3ac569;
}
.salmon-color {
  color: #ff7473;
}
.sun-color {
  color: #feee7d;
}
.alge-color {
  color: #79a8a9;
}
.flower-color {
  color: #353866;
}

.primary-bg {
  background-color: #e74c3c;
}
.secondary-bg {
  background-color: #442672;
}
.light-bg {
  background-color: #fff;
}
.dark-bg {
  background-color: #333030;
}
.ocean-bg {
  background-color: #2b90d9;
}
.grass-bg {
  background-color: #3ac569;
}
.salmon-bg {
  background-color: #ff7473;
}
.sun-bg {
  background-color: #feee7d;
}
.alge-bg {
  background-color: #79a8a9;
}
.flower-bg {
  background-color: #353866;
}

.circle {
  border-radius: 50%;
}

[dir="rtl"] .pull-left {
  float: right;
}
[dir="rtl"] .pull-right {
  float: left;
}
body {
  text-align: left;
}
body[dir="rtl"] {
  text-align: right;
}

.text-center {
  text-align: center;
}

/**---------------------
            *
            * Header Styles
            *
            *---------------------**/
.fixed-header header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.fixed-header {
  padding-top: 55px;
}

header {
  position: relative;
  min-height: 55px;
  padding: 0 5px;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e74c3c+0,442672+100 */
  background: #e74c3c; /* Old browsers */
}

header .fa {
  color: #fff;
  opacity: 0.87;
  font-size: 17px;
  line-height: 56px;
  height: 55px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0;
}

.toast {
  display: block;
  position: relative;
  height: 55px;
  padding-left: 15px;
  padding-right: 15px;
  width: 49px;
}

.toast:after,
.toast:before,
.toast span {
  position: absolute;
  display: block;
  width: 19px;
  height: 3px;
  border-radius: 2px;
  background-color: #fff;

  -webkit-transform: translate3d(0, 0, 0) rotate(0deg);
  transform: translate3d(0, 0, 0) rotate(0deg);
}

.toast:after,
.toast:before {
  content: "";
  width: 16px;
  left: 15px;

  -webkit-transition: all ease-in 0.4s;
  transition: all ease-in 0.4s;
}

.toast span {
  opacity: 1;
  top: 26px;

  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

.toast:before {
  top: 19px;
}
.toast:after {
  top: 33px;
}

// #mainSideBar[open] + #whole-content .toast span {
//   opacity: 0;

//   -webkit-transform: translate3d(200%, 0, 0);
//   transform: translate3d(200%, 0, 0);
// }

// #mainSideBar[open] + #whole-content .toast:before {
//   width: 19px;

//   -webkit-transform-origin: left bottom;
//   transform-origin: left bottom;

//   -webkit-transform: rotate(43deg);
//   transform: rotate(43deg);
// }

// #mainSideBar[open] + #whole-content .toast:after {
//   width: 19px;

//   -webkit-transform-origin: left top;
//   transform-origin: left top;

//   -webkit-transform: rotate(-43deg);
//   transform: rotate(-43deg);
// }

#logo {
  height: 55px;
  line-height: 62px;
  display: inline-block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

/**---------------------
            *
            * Sidebar Styles
            *
            *---------------------**/
#whole-content {
  background-color: #fff;
  overflow: visible;

//   animation: closing 0.3s normal forwards ease-in-out,
//     closingFix 0.6s normal forwards ease-in-out;

//   -webkit-transform-origin: right center;
//   transform-origin: right center;
}

#mainSideBar[open] + #whole-content {
//   max-height: 100vh;
//   overflow: hidden;

//   animation: opening 0.3s normal forwards ease-in-out;

//   -webkit-transform: translate3d(60%, 0, 0) scale(0.8);
//   transform: translate3d(60%, 0, 0) scale(0.8);
}

@keyframes opening {
  0% {
    transform: translate3d(0, 0, 0) scale(1);
  }

  100% {
    transform: translate3d(60%, 0, 0) scale(0.8);
  }
}

@keyframes closing {
  0% {
    transform: translate3d(60%, 0, 0) scale(0.8);
  }

  100% {
    transform: translate3d(0, 0, 0) scale(1);
  }
}

@keyframes closingFix {
  0% {
    max-height: 100vh;
    overflow: hidden;
  }

  100% {
    max-height: none;
    overflow: visible;
  }
}

#mainSideBar {
  background: white;
  color: #010103;
  width: 70vw;
  font-size: 1.3rem;
}

#mainSideBar > div:not(.divider) {
  padding: 17px 20px;
}

#mainSideBar figure {
  width: 300px;
  max-width: 100%;
  padding: 20px 20px 0;
  position: relative;
}

#mainSideBar figure amp-img {
  float: left;
  margin-right: 15px;
}

#mainSideBar figcaption {
  margin-top: 8px;
}

#mainSideBar button {
  position: absolute;
  right: 20px;
  top: 20px;
}

#mainSideBar amp-img {
  margin-bottom: 5px;
}

#mainSideBar h3,
#mainSideBar h5 {
  margin: 0;
  line-height: 1.5;
}

#menu div {
  padding: 0;
}

#menu h6,
#menu a {
  background: transparent;
  color: inherit;
  font-size: 1.3rem;
  font-weight: 300;
  padding: 0;
  border: none;
}

#menu a,
#menu span {
  padding: 14px 20px 14px 53px;
  display: block;
  color: inherit;
  position: relative;

  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

#menu section[expanded] > h6 span,
#menu .active-menu-item {
  background-color: rgba(0, 0, 0, 0.06);
  color: #e74c3c;
}

#menu h6 span:after {
  position: absolute;
  right: 20px;
  top: 0;
  font-family: "FontAwesome";
  font-size: 12px;
  line-height: 47px;
  content: "\f0dd";
}

#menu i,
#mainSideBar li i {
  font-size: 1.7rem;
  position: absolute;
  left: 20px;
  display: inline-block;
  width: 22px;
  text-align: center;
}

#panel-logo {
  display: inline-block;
  height: 55px;
  line-height: 62px;
}

#panel-logo amp-img {
  margin: 0;
}

#panel-search {
  margin: 0 -20px;
  padding: 0 20px;
}

#panel-search input {
  border: none;
  background: none;
  outline: none;
  height: 55px;
  line-height: 55px;
  color: rgba(255, 255, 255, 0.87);
  width: 100%;
}

#panel-search input[type="submit"] {
  display: none;
}

.social-ball {
  font-size: 1.6rem;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  color: #fff;
  margin-right: 7px;
}

.social-ball.fa-facebook {
  background-color: #4867aa;
}
.social-ball.fa-twitter {
  background-color: #00aced;
}
.social-ball.fa-linkedin {
  background-color: #0177b5;
}
.social-ball.fa-behance {
  background-color: #010103;
}
.social-ball.fa-dribbble {
  background-color: #e04c86;
}
.social-ball.fa-google-plus {
  background-color: #db4a40;
}
.social-ball.fa-twitch {
  background-color: #64459b;
}

/**---------------------
            *
            * Form Elements
            *
            *---------------------**/
textarea,
input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  background: transparent;
  outline: none;
  display: block;
  width: 100%;
  line-height: 30px;
  height: 35px;
  margin-bottom: 20px;
  font-family: inherit;
}

textarea:valid,
input:valid {
  border-bottom-color: rgba(127, 255, 0, 0.54);
}

textarea {
  min-height: 70px;
}

/**---------------------
            *
            * Buttons
            *
            *---------------------**/
.btn {
  display: inline-block;
  min-width: 50px;
  padding: 8px 19px;
  color: #fff;
  background-color: #e74c3c;
  font-weight: 900;
  border-radius: 3px;
  opacity: 0.87;
}

.btn:hover {
  opacity: 1;
}

.btn.btn-small {
  font-size: 1.2rem;
}

/**---------------------
            *
            * Footer
            *
            *---------------------**/
#footer {
  padding: 40px 20px;
  background-color: #151515;
  color: #fff;
  margin: 0 -20px;
}

#footer .logo,
#footer amp-img {
  display: block;
}

#footer span {
  opacity: 0.54;
}

/**---------------------
            *
            * Grid
            *
            *---------------------**/
[class*="col-"] {
  margin-bottom: 20px;
}
.container-fluid {
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  word-wrap: break-word;
}
.row {
  margin-right: -10px;
  margin-left: -10px;
}
.row:after,
.row:before {
  display: table;
  content: " ";
}
.row:after {
  clear: both;
}
.container-full,
.container-full [class*="col-"] {
  padding-left: 0;
  padding-right: 0;
}
.container-full .row {
  margin-left: 0;
  margin-right: 0;
}
.no-gap [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
  margin-bottom: 0;
}
.no-gap.row {
  margin-right: 0;
  margin-left: 0;
}
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
@media (min-width: 768px) {
  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
}

/* /GLOBAL STYLES */

/* INDEX PAGE STYLES */

/**---------------------
            *
            * blog Item
            *
            *---------------------**/
.blog-item .preview {
  display: block;
  margin-bottom: 27px;
}

.subtitle {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.blog-meta i {
  margin-right: 5px;
  font-size: 1.3rem;
}

.blog-meta div {
  float: left;
  margin-right: 10px;
}

.blog-meta a {
  color: #757575;
}

.blog-meta i {
  color: #e74c3c;
}

/**---------------------
            *
            * Sidebar Box
            *
            *---------------------**/
.blog-sidebar-box {
  margin-bottom: 30px;
}

/**---------------------
            *
            * Photo Row
            *
            *---------------------**/
.photo-row {
  margin: 15px -2.5px 0;
}

.photo-row a {
  width: 33.33333333333333%;
  padding: 0 2.5px;
  float: left;
  display: block;
}

/**---------------------
            *
            * Media List
            *
            *---------------------**/
.media-list {
  list-style: none;
  padding: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.media-list a {
  position: relative;
  display: block;
}

.media-list i {
  position: absolute;
  right: 5px;
  top: 50%;
  line-height: 10px;
  margin-top: -17px;
  display: block;
}

.media-list amp-img {
  display: block;
}

.media-list div {
  margin-left: 80px;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.media-list li:not(:last-child) div {
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

/**---------------------
            *
            * Bordered List
            *
            *---------------------**/
.bordered-list {
  padding-left: 0;
  list-style: none;
}

.bordered-list a {
  color: inherit;
  display: block;
  position: relative;
  padding: 10px 15px 8px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.bordered-list a:after {
  position: absolute;
  right: 5px;
  top: 0;
  font-size: 12px;
  line-height: 47px;
  font-weight: 500;
  content: "+";
}

/**---------------------
            *
            * Social Share
            *
            *---------------------**/
.social-share-container {
  height: 30px;
}

.socials-share-title {
  line-height: 30px;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}

amp-social-share[type="facebook"],
amp-social-share[type="gplus"],
amp-social-share[type="pinterest"],
amp-social-share[type="email"],
amp-social-share[type="twitter"],
amp-social-share[type="linkedin"] {
  background-image: none;
}

amp-social-share[type="whatsapp"] {
  background-color: #189d0e;
}

amp-social-share[type="baidu"] {
  background-color: #4252a2;
}

amp-social-share {
  font-size: 1.6rem;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  color: #fff;
  margin-right: 5px;
}

/**---------------------
            *
            * Comment Items
            *
            *---------------------**/
.comment-item > h4,
.comment-item > small {
  line-height: 1.5;
}

.comment-item > h4 {
  margin-top: 0;
  margin-bottom: 10px;
}

.comment-item {
  margin-bottom: 30px;
}

.comment-item > small a {
  float: right;
}

.comment-item > small span {
  float: left;
}

.comment-item.child {
  margin-left: 30px;
}

h3 + .comment-item {
  margin-top: 15px;
}

.comment-item > small div.stars {
  float: right;
}

.comment-item > small div.stars i {
  float: left;
  font-size: 1.4rem;
}

/**---------------------
            *
            * Table Responsive
            *
            *---------------------**/
.table-responsive {
  display: block;
  width: 100%;
  min-height: 0%;
  overflow-x: auto;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
}

table {
  border-collapse: collapse;
  background-color: transparent;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #eceeef;
}

.table td,
.table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #eceeef;
}

th {
  text-align: left;
}

.table-bordered {
  border: 1px solid #eceeef;
}

.table-bordered thead td,
.table-bordered thead th {
  border-bottom-width: 2px;
}

.table-bordered td,
.table-bordered th {
  border: 1px solid #eceeef;
}

/* /INDEX PAGE STYLES */
