svg:not(:root).svg-inline {
  overflow: visible;
}
.svg-inline {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  width: 1em;
  overflow: visible;
  vertical-align: -0.125em;
  fill: currentColor;

}
#mainSideBar{
  background: white;
  width: 300px;
}
.sidebar{
  background: white;
}
.sidebar-menu-item{
  position: relative;
  a{
    position: relative;
    z-index: 1;
    padding-left: 50px;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.sidebar-menu-icon{
  position: absolute;
  left: 0;
  top: 8px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: white;
  color: $momo;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $gray-300;
  font-size: 16px;
  box-shadow: 0 0 4px rgba(25,25,25,.1);
}

.list-normal{
  li{
    margin-bottom: 10px;
  }
}