body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background-color: #ffffff; }

/*Color Schemes and Colors*/
.dark-scheme .header-logo,
.dark-scheme .landing-logo,
.dark-scheme .sidebar-logo {
  background-image: url(images/logo_light.png); }

.dark-scheme .menu-scroll {
  background-color: rgba(0, 0, 0, 0.95);
  border: solid 0px #1f1f1f; }

.dark-scheme .menu-item {
  border-bottom: solid 1px rgba(255, 255, 255, 0.04); }

.dark-scheme .active-item em {
  background-color: #2ecc71; }

.dark-scheme .active-item strong {
  color: #ffffff; }

.dark-scheme .active-item i:first-child {
  color: #a0d468; }

.dark-scheme .menu-item span {
  color: #ffffff; }

.dark-scheme .menu-item i:first-child {
  color: #5f5f5f; }

.dark-scheme .menu-item i:last-child {
  color: #aaa; }

.dark-scheme .toggle-menu-header {
  color: #ffffff; }

.dark-scheme input[id="toggle-menu"] + label .l1,
.dark-scheme input[id="toggle-menu"] + label .l2,
.dark-scheme input[id="toggle-menu"] + label .l3 {
  background-color: #ffffff; }

.dark-scheme .submenu-item label {
  color: #ffffff; }

.dark-scheme input[data-submenu-items] + label:before {
  color: #aaa; }

.dark-scheme input[data-submenu-items] + label:before {
  color: #ffffff; }

.dark-scheme input[data-submenu-items]:checked + label:before {
  color: #ed5565; }

.dark-scheme .submenu-wrapper .menu-item .fa-angle-right {
  color: #666; }

.dark-scheme .submenu-wrapper a:last-child {
  border-bottom: solid 1px rgba(255, 255, 255, 0.04); }

.dark-scheme .submenu-wrapper a {
  color: #aaa; }

.dark-scheme header {
  background-color: rgba(0, 0, 0, 0.85); }

.dark-scheme .header-icon-1,
.dark-scheme .header-icon-2 {
  color: #ffffff; }

.dark-scheme .sidebar-socials a {
  border-right: solid 1px rgba(255, 255, 255, 0.04);
  border-bottom: solid 1px rgba(255, 255, 255, 0.04);
  color: #ffffff; }

.dark-scheme .sidebar-copyright {
  color: #ffffff; }

.dark-scheme .sidebar-logo-text {
  color: rgba(255, 255, 255, 0.5);
  border-bottom: solid 1px rgba(255, 255, 255, 0.04); }

.light-scheme .header-logo,
.light-scheme .landing-logo,
.light-scheme .sidebar-logo {
  background-image: url(images/logo_dark.png); }

.light-scheme .menu-sidebar {
  background-color: #ffffff; }

.light-scheme .menu-scroll {
  background-color: #ffffff;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1); }

.light-scheme .menu-item {
  border-bottom: solid 1px rgba(0, 0, 0, 0.05); }

.light-scheme .active-item em {
  background-color: #2ecc71; }

.light-scheme .active-item strong {
  color: #1f1f1f;
  font-weight: 500; }

.light-scheme .active-item i:first-child {
  color: #a0d468; }

.light-scheme .menu-item span {
  color: #1f1f1f; }

.light-scheme .menu-item i:first-child {
  color: #1f1f1f; }

.light-scheme .menu-item i:last-child {
  color: #cacaca; }

.light-scheme .toggle-menu-header {
  color: #1f1f1f; }

.light-scheme input[id="toggle-menu"] + label .l1,
.light-scheme input[id="toggle-menu"] + label .l2,
.light-scheme input[id="toggle-menu"] + label .l3 {
  background-color: #1f1f1f; }

.light-scheme .submenu-item label {
  color: #1f1f1f; }

.light-scheme input[data-submenu-items] + label:before {
  color: #1f1f1f; }

.light-scheme input[data-submenu-items] + label:before {
  color: #1f1f1f; }

.light-scheme input[data-submenu-items]:checked + label:before {
  color: #ed5565; }

.light-scheme .submenu-wrapper .menu-item .fa-angle-right {
  color: #cacaca; }

.light-scheme .submenu-wrapper a:last-child {
  border-bottom: solid 1px rgba(0, 0, 0, 0.01); }

.light-scheme .submenu-wrapper a {
  color: #1f1f1f; }

.light-scheme header {
  background-color: rgba(255, 255, 255, 0.95);
  border-bottom: solid 1px rgba(0, 0, 0, 0.1); }

.light-scheme .header-icon-1,
.header-icon-2 {
  color: #000000; }

.light-scheme .sidebar-socials a {
  border-right: solid 1px rgba(0, 0, 0, 0.05);
  border-bottom: solid 1px rgba(0, 0, 0, 0.05);
  color: #1f1f1f; }

.light-scheme .sidebar-copyright {
  color: #1f1f1f; }

.light-scheme .sidebar-logo-text {
  color: rgba(0, 0, 0, 0.5);
  border-bottom: solid 1px rgba(0, 0, 0, 0.05); }

.bg-teal-light {
  background-color: #1abc9c;
  color: #ffffff; }

.bg-teal-dark {
  background-color: #16a085;
  color: #ffffff; }

.border-teal-light {
  border: solid 1px #1abc9c; }

.border-teal-dark {
  border: solid 1px #16a085; }

.color-teal-light {
  color: #1abc9c; }

.color-teal-dark {
  color: #16a085; }

.bg-green-light {
  background-color: #2ecc71;
  color: #ffffff; }

.bg-green-dark {
  background-color: #2abb67;
  color: #ffffff; }

.border-green-light {
  border: solid 1px #2ecc71; }

.border-green-dark {
  border: solid 1px #2abb67; }

.color-green-light {
  color: #2ecc71; }

.color-green-dark {
  color: #2abb67; }

.bg-blue-light {
  background-color: #3498db;
  color: #ffffff; }

.bg-blue-dark {
  background-color: #2980b9;
  color: #ffffff; }

.border-blue-light {
  border: solid 1px #3498db; }

.border-blue-dark {
  border: solid 1px #2980b9; }

.color-blue-light {
  color: #3498db; }

.color-blue-dark {
  color: #2980b9; }

.bg-magenta-light {
  background-color: #9b59b6;
  color: #ffffff; }

.bg-magenta-dark {
  background-color: #8e44ad;
  color: #ffffff; }

.border-magenta-light {
  border: solid 1px #9b59b6; }

.border-magenta-dark {
  border: solid 1px #8e44ad; }

.color-magenta-light {
  color: #9b59b6; }

.color-magenta-dark {
  color: #8e44ad; }

.bg-night-light {
  background-color: #34495e;
  color: #ffffff; }

.bg-night-dark {
  background-color: #2c3e50;
  color: #ffffff; }

.border-night-light {
  border: solid 1px #34495e; }

.border-night-dark {
  border: solid 1px #2c3e50; }

.color-night-light {
  color: #34495e; }

.color-night-dark {
  color: #2c3e50; }

.bg-yellow-light {
  background-color: #e67e22;
  color: #ffffff; }

.bg-yellow-dark {
  background-color: #e86f2a;
  color: #ffffff; }

.border-yellow-light {
  border: solid 1px #e67e22; }

.border-yellow-dark {
  border: solid 1px #f27935; }

.color-yellow-light {
  color: #f1c40f; }

.color-yellow-dark {
  color: #f39c12; }

.bg-orange-light {
  background-color: #f9690e;
  color: #ffffff; }

.bg-orange-dark {
  background-color: #d35400;
  color: #ffffff; }

.border-orange-light {
  border: solid 1px #f9690e; }

.border-orange-dark {
  border: solid 1px #d35400; }

.color-orange-light {
  color: #e67e22; }

.color-orange-dark {
  color: #d35400; }

.bg-red-light {
  background-color: #e74c3c;
  color: #ffffff; }

.bg-red-dark {
  background-color: #c0392b;
  color: #ffffff; }

.border-red-light {
  border: solid 1px #e74c3c; }

.border-red-dark {
  border: solid 1px #c0392b; }

.color-red-light {
  color: #e74c3c; }

.color-red-dark {
  color: #c0392b; }

.bg-pink-light {
  background-color: #fa6a8e;
  color: #ffffff; }

.bg-pink-dark {
  background-color: #fb3365;
  color: #ffffff; }

.border-pink-light {
  border: solid 1px #fa6a8e; }

.border-pink-dark {
  border: solid 1px #fb3365; }

.color-pink-light {
  color: #fa6a8e; }

.color-pink-dark {
  color: #fb3365; }

.bg-gray-light {
  background-color: #bdc3c7;
  color: #ffffff; }

.bg-gray-dark {
  background-color: #95a5a6;
  color: #ffffff; }

.border-gray-light {
  border: solid 1px #bdc3c7; }

.border-gray-dark {
  border: solid 1px #95a5a6; }

.color-gray-light {
  color: #bdc3c7; }

.color-gray-dark {
  color: #95a5a6; }

.bg-white {
  background-color: #ffffff; }

.color-white {
  color: #ffffff; }

.border-white {
  border: solid 1px #ffffff; }

.bg-black {
  background-color: #000000; }

.color-black {
  color: #000000; }

.border-black {
  border: solid 1px #000000; }

/*Social Icons*/
.facebook-bg {
  background-color: #3b5998;
  color: #ffffff; }

.linkedin-bg {
  background-color: #0077b5;
  color: #ffffff; }

.twitter-bg {
  background-color: #4099ff;
  color: #ffffff; }

.google-bg {
  background-color: #d34836;
  color: #ffffff; }

.whatsapp-bg {
  background-color: #34af23;
  color: #ffffff; }

.pinterest-bg {
  background-color: #c92228;
  color: #ffffff; }

.sms-bg {
  background-color: #27ae60;
  color: #ffffff; }

.mail-bg {
  background-color: #3498db;
  color: #ffffff; }

.dribbble-bg {
  background-color: #ea4c89;
  color: #ffffff; }

.tumblr-bg {
  background-color: #2c3d52;
  color: #ffffff; }

.reddit-bg {
  background-color: #336699;
  color: #ffffff; }

.youtube-bg {
  background-color: #d12827;
  color: #ffffff; }

.phone-bg {
  background-color: #27ae60;
  color: #ffffff; }

.skype-bg {
  background-color: #12a5f4;
  color: #ffffff; }

.facebook-color {
  color: #3b5998; }

.linkedin-color {
  color: #0077b5; }

.twitter-color {
  color: #4099ff; }

.google-color {
  color: #d34836; }

.whatsapp-color {
  color: #34af23; }

.pinterest-color {
  color: #c92228; }

.sms-color {
  color: #27ae60; }

.mail-color {
  color: #3498db; }

.dribbble-color {
  color: #ea4c89; }

.tumblr-color {
  color: #2c3d52; }

.reddit-color {
  color: #336699; }

.youtube-color {
  color: #d12827; }

.phone-color {
  color: #27ae60; }

.skype-color {
  color: #12a5f4; }

/*Background Images*/
.bg-1 {
  background-image: url(images/pictures/1.jpg); }

.bg-2 {
  background-image: url(images/pictures/2.jpg); }

.bg-3 {
  background-image: url(images/pictures/3.jpg); }

.bg-4 {
  background-image: url(images/pictures/4.jpg); }

.bg-5 {
  background-image: url(images/pictures/5.jpg); }

.bg-6 {
  background-image: url(images/pictures/6.jpg); }

.bg-7 {
  background-image: url(images/pictures/7.jpg); }

.bg-8 {
  background-image: url(images/pictures/8.jpg); }

.bg-9 {
  background-image: url(images/pictures/9.jpg); }

.bg-body {
  background-image: url(images/pictures_vertical/bg2.jpg);
  background-position: 150px right; }

.bg-body-1 {
  background-image: url(images/pictures_vertical/bg1.jpg);
  background-position: 150px right; }

.bg-body-2 {
  background-image: url(images/pictures_vertical/bg0.jpg);
  background-position: 150px right; }

.overlay {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px; }

/*Font Settings*/
h1 {
  font-size: 24px;
  line-height: 34px;
  font-weight: 500; }

h2 {
  font-size: 22px;
  line-height: 32px;
  font-weight: 500; }

h3 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500; }

h4 {
  font-size: 18px;
  line-height: 28px;
  font-weight: 500; }

h5 {
  font-size: 16px;
  line-height: 26px;
  font-weight: 500; }

h6 {
  font-size: 14px;
  line-height: 22px;
  font-weight: 800; }

.ultrathin {
  font-weight: 200; }

.thin {
  font-weight: 300; }

.thiner {
  font-weight: 400; }

.boder {
  font-weight: 600; }

.bold {
  font-weight: 700; }

.ultrabold {
  font-weight: 800; }

.capitalize {
  text-transform: capitalize; }

.italic {
  font-style: italic; }

.small-text {
  font-size: 12px;
  display: block; }

.center-text {
  text-align: center;
  display: block; }

.right-text {
  text-align: right; }

.uppercase {
  text-transform: uppercase; }

.boxed-text {
  width: 80%;
  margin: 0px auto 30px auto; }

.round-image {
  border-radius: 500px; }

p a {
  display: inline; }

/*Content Settings*/
.content {
  padding: 0px 20px 0px 20px; }

.container {
  margin-bottom: 30px; }

.full-bottom {
  margin-bottom: 25px; }

.no-bottom {
  margin-bottom: 0px; }

.full-top {
  margin-top: 25px; }

.half-bottom {
  margin-bottom: 15px; }

.half-top {
  margin-top: 15px; }

.quarter-bottom {
  margin-bottom: 15px; }

.hidden {
  display: none; }

.left-column {
  width: 45%;
  margin-right: 5%;
  float: left; }

.right-column {
  width: 45%;
  margin-left: 5%;
  float: left; }

.one-third-left {
  float: left;
  width: 29%;
  margin-right: 1%; }

.one-third-center {
  float: left;
  width: 29%;
  margin-left: 5%;
  margin-right: 5%; }

.one-third-right {
  float: left;
  width: 29%;
  margin-left: 1%; }

.clear {
  clear: both; }

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  outline: none;
  font-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -webkit-transform: translate3d(1, 1, 1);
  transform: translate3d(1, 1, 1);
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

div,
a,
p,
img,
blockquote,
form,
fieldset,
textarea,
input,
label,
iframe,
code,
pre {
  display: block;
  position: relative; }

p {
  line-height: 27px;
  font-weight: 400;
  color: #666666;
  font-size: 13px;
  margin-bottom: 30px; }

a {
  text-decoration: none;
  color: #3498db; }

/*Lists*/
.icon-list {
  list-style: none;
  font-size: 14px;
  line-height: 28px;
  color: #666666; }

.icon-list i {
  width: 30px; }

.center-icon {
  width: 80px;
  height: 80px;
  border-radius: 80px;
  border: solid 1px rgba(0, 0, 0, 0.5);
  text-align: center;
  line-height: 80px;
  font-size: 24px;
  margin: 0px auto 30px auto;
  display: block; }

.decoration,
.decoration-no-bottom {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1); }

.decoration-light {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.05); }

.deco {
  height: 1px;
  margin-bottom: 30px; }

.deco-box .deco {
  width: 10%;
  float: left;
  height: 5px; }

.decoration {
  margin-bottom: 30px; }

.decoration-light {
  margin-bottom: 30px; }

.decoration-margins {
  margin: 0px 20px 30px 20px; }

/*Page Content*/
::-webkit-scrollbar {
  width: 0; }

.menu * {
  -ms-user-select: none;
      user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none; }

.menu-sidebar {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 999;
  width: 260px;
  -webkit-transform: translateX(-260px);
      -ms-transform: translateX(-260px);
          transform: translateX(-260px);
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease; }

.page-content {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease; }

.menu a:first-child {
  margin-top: 0px; }

.menu-scroll {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  overflow: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; }

/*input[id="toggle-menu"]*/
input[data-submenu-items] {
  position: absolute;
  top: -9999px;
  left: -9999px;
  /* For mobile, it's typically better to position checkbox on top of clickable
      area and turn opacity to 0 instead. */ }

input[id="toggle-menu"]:checked ~ #menu-sidebar {
  -webkit-box-shadow: 5px 0 10px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 0 10px 1px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease; }

input[id="toggle-menu"]:checked ~ .page-content {
  -webkit-transform: translateX(260px);
      -ms-transform: translateX(260px);
          transform: translateX(260px);
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease; }

/*Main Items*/
.menu-item {
  height: 55px;
  line-height: 55px;
  display: block;
  padding-left: 55px;
  font-size: 13px;
  font-weight: 300;
  cursor: pointer; }

.menu-item i {
  position: absolute;
  height: 55px;
  width: 55px;
  line-height: 55px;
  text-align: center; }

.active-item em {
  font-size: 8px;
  text-align: center;
  position: absolute;
  width: 4px;
  height: 4px;
  right: 25px;
  border-radius: 7px;
  top: 50%;
  margin-top: -2px; }

.active-item strong {
  font-weight: 400; }

.active-item .fa-circle {
  display: none; }

.active-item span {
  margin-left: -3px; }

.active-item i:first-child {
  margin-left: -3px; }

.menu-item i:first-child {
  left: 0px;
  font-size: 15px; }

.menu-item i:last-child {
  right: 0px; }

.menu-item .fa-circle {
  font-size: 4px; }

.menu-item .fa-angle-down {
  font-size: 8px; }

.toggle-menu-header {
  height: 60px;
  width: 50px;
  line-height: 60px;
  text-align: center;
  top: 0px;
  z-index: 999;
  position: fixed;
  top: 0px;
  right: 0px;
  cursor: pointer; }

input[id="toggle-menu"] {
  display: none; }

/* to hide the checkbox itself */
input[id="toggle-menu"] + label:before {
  font-family: FontAwesome;
  display: inline-block; }

input[id="toggle-menu"] + label .l1,
input[id="toggle-menu"] + label .l2,
input[id="toggle-menu"] + label .l3 {
  height: 1px;
  width: 14px;
  position: absolute;
  left: 50%;
  margin-left: -7px;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease; }

input[id="toggle-menu"] + label .l1 {
  margin-top: 25px; }

input[id="toggle-menu"] + label .l2 {
  margin-top: 29px; }

input[id="toggle-menu"] + label .l3 {
  margin-top: 33px; }

input[id="toggle-menu"]:checked + label .l1 {
  background-color: #d8334a;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: 30px;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease; }

input[id="toggle-menu"]:checked + label .l2 {
  opacity: 0;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease; }

input[id="toggle-menu"]:checked + label .l3 {
  background-color: #d8334a;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-top: 30px;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease; }

input[id="toggle-menu"] {
  display: none; }

/* to hide the checkbox itself */
input[id="toggle-menu"] + label:before {
  font-family: FontAwesome;
  display: inline-block; }

.submenu-item label {
  height: 55px;
  cursor: pointer; }

input[class="toggle-submenu"] {
  position: absolute;
  top: -9999px;
  left: -9999px; }

.submenu-wrapper {
  height: 0px;
  overflow: hidden;
  color: white;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease; }

input[data-submenu-items] {
  display: none; }

/* to hide the checkbox itself */
input[data-submenu-items] + label:before {
  font-family: FontAwesome;
  position: absolute;
  right: 0px;
  height: 60px;
  width: 55px;
  line-height: 60px;
  text-align: center;
  font-size: 9px; }

input[data-submenu-items] + label:before {
  content: "\f107";
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease; }

input[data-submenu-items]:checked + label:before {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease; }

.submenu-wrapper .menu-item {
  height: 55px;
  font-size: 12px;
  line-height: 55px;
  border-bottom: solid 1px rgba(0, 0, 0, 0); }

.submenu-wrapper a i {
  line-height: 55px; }

.submenu-wrapper .menu-item .fa-angle-right {
  font-size: 8px;
  margin-top: -1px; }

.submenu-wrapper a:first-child {
  padding-top: 5px; }

.submenu-wrapper a:last-child {
  padding-bottom: 5px; }

/* Toggled State */
/*Value Obtain by (Number of Submenus * 55) + 11px ( paddings & border )*/
[data-submenu-items="2"]:checked ~ .submenu-wrapper {
  height: 121px; }

[data-submenu-items="3"]:checked ~ .submenu-wrapper {
  height: 185px; }

[data-submenu-items="4"]:checked ~ .submenu-wrapper {
  height: 241px; }

[data-submenu-items="5"]:checked ~ .submenu-wrapper {
  height: 296px; }

[data-submenu-items="6"]:checked ~ .submenu-wrapper {
  height: 350px; }

[data-submenu-items="7"]:checked ~ .submenu-wrapper {
  height: 405px; }

[data-submenu-items="8"]:checked ~ .submenu-wrapper {
  height: 461px; }

[data-submenu-items="9"]:checked ~ .submenu-wrapper {
  height: 506px; }

[data-submenu-items="10"]:checked ~ .submenu-wrapper {
  height: 561px; }

[data-submenu-items="11"]:checked ~ .submenu-wrapper {
  height: 616px; }

[data-submenu-items="12"]:checked ~ .submenu-wrapper {
  height: 671px; }

[data-submenu-items="13"]:checked ~ .submenu-wrapper {
  height: 726px; }

[data-submenu-items="14"]:checked ~ .submenu-wrapper {
  height: 781px; }

[data-submenu-items="15"]:checked ~ .submenu-wrapper {
  height: 836px; }

/*Header*/
header {
  position: fixed;
  top: 0px;
  height: 60px;
  width: 100%;
  z-index: 999; }

.header-icon-1,
.header-icon-2 {
  position: absolute;
  line-height: 60px;
  text-align: center;
  width: 60px;
  display: block;
  font-size: 14px;
  background-color: transparent; }

.header-icon-2 {
  right: 0px;
  top: 0px; }

.header-logo,
.sidebar-logo {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 70px 18px;
  width: 80px;
  height: 57px;
  display: block; }

.header-logo-center {
  margin: 0 auto; }

.header-logo-left {
  margin-left: 15px; }

.header-clear {
  height: 60px; }

/*Sidebar Header*/
.sidebar-logo {
  margin-left: 20px;
  margin-top: 30px;
  background-size: 90px 23px;
  width: 100px;
  height: 40px;
  background-position: left top; }

.sidebar-logo-text {
  font-size: 11px;
  display: block;
  padding-left: 20px;
  padding-bottom: 30px;
  font-style: normal;
  margin-top: -10px; }

.sidebar-copyright {
  font-style: normal;
  font-size: 10px;
  text-align: center;
  opacity: 0.5;
  display: block;
  line-height: 60px; }

.sidebar-socials a {
  width: 51px;
  height: 60px;
  line-height: 60px;
  font-size: 12px;
  text-align: center;
  float: left; }

/*Tint Block*/
.tint-block {
  background-size: cover; }

.tint-block-top {
  padding: 130px 0px 120px 0px; }

.tint-block-top-simple {
  padding: 130px 0px 50px 0px; }

.tint-block-content {
  padding: 140px 0px 100px 0px;
  margin-top: -90px; }

.tint-block-simple {
  padding-top: 80px;
  padding-bottom: 50px;
  overflow: visible; }

.tint-block h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 28px; }

.tint-block .tint {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  opacity: 0.7;
  z-index: 3; }

.tint-block span {
  color: rgba(255, 255, 255, 0.9);
  font-size: 13px;
  padding-top: 10px;
  display: block;
  text-transform: uppercase;
  font-weight: 600;
  padding-right: 70px;
  line-height: 23px; }

.tint-block .tint-content {
  padding: 0px 20px 0px 20px;
  position: relative;
  z-index: 5; }

.tint-block .tint-items {
  margin-bottom: 50px;
  margin-top: 20px; }

.tint-block .tint-breadcrumb {
  position: relative;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.5);
  display: inline-block;
  padding: 5px;
  padding-right: 10px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 11px;
  line-height: 15px;
  background-size: 0px 0px; }

.tint-block i {
  padding-right: 10px;
  padding-left: 5px; }

/*Page Content*/
.page-content-card {
  z-index: 99;
  background-color: #fefefe;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 20px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  margin-top: -95px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05); }

.page-content-card-simple {
  z-index: 99;
  background-color: #fefefe;
  margin: 20px 10px 20px 10px;
  padding-top: 20px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05); }

/*Footer*/
.footer {
  background-color: rgba(0, 0, 0, 0.95);
  padding-bottom: 30px; }

.footer-card {
  margin-top: -120px;
  padding-top: 100px; }

.footer-logo {
  background-image: url(images/logo_light.png);
  background-repeat: no-repeat;
  background-size: 95px 23px;
  width: 100px;
  height: 25px;
  display: block;
  margin: 12px auto 20px auto; }

.footer-socials a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 2px;
  margin-right: 2px;
  text-align: center;
  float: left;
  color: #ffffff; }

.footer-socials {
  width: 265px;
  margin: -10px auto 20px auto; }

/*Slider Caption*/
.caption {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 65px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgba(0, 0, 0, 0.5); }

.caption h4 {
  font-size: 14px;
  color: #ffffff;
  line-height: 20px;
  margin-top: 12px; }

.caption h3 {
  color: #ffffff;
  margin-bottom: 5px;
  font-size: 16px;
  padding-top: 23px;
  line-height: 0px; }

.caption p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5); }

/*Call To Action*/
.call-to-action a {
  width: 33.3%;
  float: left;
  text-align: center;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  height: 50px;
  line-height: 50px;
  color: #1f1f1f;
  font-size: 12px; }

.call-to-action a i {
  padding-right: 10px; }

.social-icons {
  width: 150px;
  margin: 0 auto; }

.social-round a {
  border-radius: 50px; }

.social-icons-small {
  width: 95px;
  margin: 0 auto; }

.social-icons a {
  line-height: 40px;
  width: 40px;
  height: 40px;
  margin-left: 5px;
  margin-right: 5px;
  float: left; }

.social-icons-small a {
  line-height: 35px;
  width: 35px;
  height: 35px;
  margin-left: 5px;
  margin-right: 5px;
  float: left; }

/*Heading Block*/
.heading-block {
  padding: 30px 20px;
  margin-bottom: 30px; }

.heading-block h4 {
  font-weight: 400;
  position: relative;
  z-index: 10;
  color: #ffffff; }

.heading-block p {
  position: relative;
  z-index: 10;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 0px; }

.heading-block a {
  z-index: 10;
  width: 100px;
  height: 10px;
  line-height: 10px;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  margin: 20px auto 0px auto;
  border: solid 1px rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  display: block;
  text-transform: uppercase;
  font-weight: 800; }

.icon-heading h5 {
  margin-bottom: 5px; }

.icon-heading h5 i {
  float: left;
  font-size: 14px;
  padding-right: 20px;
  padding-top: 5px; }

.icon-heading i {
  font-size: 12px;
  float: right;
  padding-top: 7px; }

.quote-style h4 {
  font-weight: 300;
  margin-left: 40px;
  margin-right: 40px;
  text-align: center;
  line-height: 40px; }

.rating {
  width: 95px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  display: block; }

/*Icon Column*/
.icon-column h4 i {
  font-size: 24px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 80px;
  text-align: center;
  display: block;
  margin: 0px auto 20px auto; }

.icon-column h4 {
  font-size: 17px;
  padding-bottom: 10px; }

/*Half Columns*/
.half-column-left .half-left-img {
  position: absolute;
  border-radius: 150px;
  margin-left: -50px;
  left: 0px; }

.half-column-left {
  padding-left: 70px;
  padding-right: 20px;
  min-height: 110px;
  overflow: hidden; }

.half-column-right .half-right-img {
  position: absolute;
  border-radius: 150px;
  margin-right: -50px;
  right: 0px; }

.half-column-right {
  padding-right: 70px;
  padding-left: 20px;
  min-height: 110px;
  overflow: hidden; }

/*Gallery*/
.gallery-thumb {
  width: 31%;
  float: left;
  margin-bottom: 3%; }

.gallery-round .gallery-thumb {
  border-radius: 100px; }

.gallery-wide .gallery-thumb-wide {
  margin-bottom: 1px; }

.gallery-wide h4 {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  z-index: 99;
  height: 50px;
  line-height: 50px;
  margin-top: -52px;
  width: 100%;
  padding-left: 20px;
  font-weight: 300;
  font-size: 14px;
  pointer-events: none; }

.gallery-thumb:nth-child(3n-1) {
  margin-left: 3%;
  margin-right: 3%; }

/*Splash Page*/
.splash-logo {
  background-image: url(images/logo_light.png);
  background-size: 154px 38px;
  width: 154px;
  height: 38px;
  margin: 0px auto 10px auto; }

.splash-content {
  position: fixed;
  width: 240px;
  height: 350px;
  left: 50%;
  top: 50%;
  margin-top: -100px;
  margin-left: -120px;
  z-index: 2; }

.splash-login {
  position: fixed;
  width: 240px;
  height: 350px;
  left: 50%;
  top: 50%;
  margin-top: -150px;
  margin-left: -120px;
  z-index: 2; }

.splash-signup {
  position: fixed;
  width: 240px;
  height: 450px;
  left: 50%;
  top: 50%;
  margin-top: -200px;
  margin-left: -120px;
  z-index: 2; }

.splash-signup .splash-input {
  margin-bottom: 20px; }

.splash-signup .small-text {
  margin-top: 20px;
  margin-bottom: 20px;
  opacity: 0.7; }

.splash-signup .button {
  margin-top: 40px; }

@media (max-width: 335px) {
  .splash-signup {
    margin-top: -150px; }
  .splash-signup .splash-logo {
    display: none; }
  .splash-signup .splash-text {
    display: none; } }

.splash-button {
  width: 130px;
  margin: 0 auto;
  text-align: center;
  height: 40px;
  line-height: 40px;
  font-size: 12px; }

.splash-login .small-text {
  font-size: 10px;
  margin: 30px 0px 30px 0px;
  opacity: 0.7; }

.splash-input input {
  height: 45px;
  width: 100%;
  display: block;
  font-size: 12px;
  text-indent: 30px;
  background-color: transparent;
  color: #ffffff;
  border-bottom: solid 1px rgba(255, 255, 255, 0.3);
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  border-radius: 0; }

.splash-input i {
  color: #ffffff;
  position: absolute;
  height: 45px;
  line-height: 44px;
  padding-left: 3px; }

.splash-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8); }

.splash-bg {
  background-image: url(images/pictures_vertical/bg1.jpg);
  background-size: cover;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 0; }

/*Landing Content*/
.landing-content {
  width: 270px;
  margin: 40px auto 30px auto; }

.landing-logo {
  background-size: 100px 24px;
  width: 100px;
  height: 24px;
  display: block;
  margin: 40px auto 10px auto; }

.landing-logo-text {
  color: rgba(255, 255, 255, 0.5);
  font-style: normal;
  font-size: 11px;
  display: block;
  text-align: center; }

.landing-content a {
  width: 60px;
  height: 60px;
  float: left;
  margin: 0px 15px 50px 15px;
  border-radius: 60px;
  line-height: 60px;
  font-size: 18px;
  text-align: center; }

.landing-content a em {
  position: absolute;
  font-size: 12px;
  width: 60px;
  text-align: center;
  bottom: -45px;
  left: 0px;
  right: 0px;
  font-style: normal; }

.landing-socials {
  -webkit-transform: scale(0.8, 0.8);
      -ms-transform: scale(0.8, 0.8);
          transform: scale(0.8, 0.8);
  padding-bottom: 30px; }

/*Accordion Styles*/
.accordion h4 {
  background-color: transparent;
  border: none; }

.accordion h4 {
  font-size: 16px;
  line-height: 40px; }

.accordion h4 i {
  height: 40px;
  line-height: 40px;
  position: absolute;
  right: 0px;
  font-size: 12px; }

.nested-accordion h4 {
  font-size: 14px; }

section[expanded] .fa-plus {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

section[expanded] .fa-angle-down {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

section[expanded] .fa-chevron-down {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

/*Fonts*/
.demo-icons a {
  color: #ffffff;
  width: 20%;
  height: 50px;
  float: left; }

.demo-icons a i {
  color: #1f1f1f;
  font-size: 21px;
  width: 50px;
  height: 50px;
  float: left;
  text-align: center;
  overflow: hidden; }

/*User Notifications*/
.notification {
  margin: 30px 10px;
  padding: 20px; }

.notification h4 {
  margin-bottom: 5px; }

.notification h6 {
  font-size: 14px; }

.notification p {
  color: rgba(255, 255, 255, 0.7); }

.user-notification {
  text-align: left;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #27ae60;
  height: 50px;
  color: #ffffff;
  font-size: 12px;
  line-height: 24px;
  width: 70%;
  float: left; }

.user-notification button {
  background-color: #27ae60;
  color: #ffffff;
  height: 55px;
  position: fixed;
  right: 0px;
  bottom: 0px;
  width: 25%; }

/*Inputs*/
.text-input {
  height: 45px;
  line-height: 45px;
  text-indent: 10px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  display: block;
  width: 100%;
  font-size: 12px; }

.input-icon-field {
  height: 45px;
  line-height: 45px;
  text-indent: 50px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  display: block;
  width: 100%;
  font-size: 12px; }

.input-icon i {
  position: absolute;
  z-index: 9;
  height: 45px;
  line-height: 45px;
  text-align: center;
  width: 45px;
  color: #666666; }

.select-style {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 45px;
  display: block;
  border-radius: 3px;
  overflow: hidden;
  background: #ffffff url("data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==") no-repeat 95% 50%; }

.select-style select {
  font-size: 12px;
  line-height: 35px;
  padding: 5px 15px;
  width: 100%;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: rgba(255, 255, 255, 0);
  background-image: none;
  -webkit-appearance: none; }

.select-style select:focus {
  outline: none; }

/*Dropcaps*/
.dropcaps-1:first-letter {
  float: left;
  font-size: 57px;
  padding: 14px 15px 0px 0px;
  font-weight: 800;
  color: #1f1f1f; }

.dropcaps-2:first-letter {
  font-family: "Times New Roman", sans-serif;
  float: left;
  font-size: 42px;
  padding: 15px 15px 0px 0px;
  font-weight: 800;
  color: #1f1f1f; }

.dropcaps-3:first-letter {
  background-color: #1f1f1f;
  padding: 10px 15px 10px 15px;
  margin: 5px 12px 0px 0px;
  float: left;
  font-size: 24px;
  font-weight: 800;
  color: #ffffff; }

.dropcaps-4:first-letter {
  font-family: "Times New Roman", sans-serif;
  font-weight: 800;
  background-color: #1f1f1f;
  padding: 8px 17px 8px 17px;
  margin: 5px 12px 0px 0px;
  float: left;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff; }

/*Highlights*/
.highlight {
  margin-bottom: 10px; }

.highlight span {
  padding: 3px 5px 3px 5px;
  margin-right: 2px; }

ol ul {
  padding-left: 5px; }

ol,
ul {
  line-height: 24px;
  margin-left: 20px; }

.icon-list {
  list-style: none;
  margin-left: 0px;
  padding-left: 0px; }

.icon-list i {
  font-size: 10px;
  line-height: 35px; }

.icon-list ul {
  list-style: none;
  padding-left: 10px; }

.icon-list ul ul {
  padding-left: 10px; }

/*Blockquotes*/
.blockquote-1 {
  border-left: solid 3px #1f1f1f;
  padding: 10px 0px 10px 20px; }

.blockquote-1 a {
  text-align: right;
  margin-top: -20px;
  font-size: 12px; }

.blockquote-2 .blockquote-image {
  position: absolute;
  border-radius: 50px; }

.blockquote-2 h5 {
  padding-left: 65px;
  line-height: 24px;
  padding-top: 4px; }

.blockquote-2 .first-icon {
  padding-left: 65px; }

.blockquote-2 a {
  text-align: right;
  margin-top: -10px;
  font-size: 12px; }

.blockquote-3 .blockquote-image {
  width: 150px;
  border-radius: 150px;
  margin: 0 auto;
  display: block; }

.blockquote-3 h5 {
  margin: 10px 0px 10px 0px; }

.blockquote-3 .ratings {
  width: 100px;
  margin: 10px auto 10px auto; }

.blockquote-3 .ratings i {
  font-size: 18px; }

.blockquote-4 i {
  font-size: 24px;
  position: absolute;
  margin-top: 10px; }

.blockquote-4 p {
  padding-left: 50px; }

/*Buttons*/
.button {
  display: inline-block;
  padding: 13px 20px;
  margin: 0px 0px 10px 0px;
  font-size: 12px;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease; }

.button-3d {
  display: inline-block;
  padding: 15px 20px;
  margin: 0px 0px 10px 0px;
  font-size: 12px;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  border-right: none;
  border-left: none;
  border-top: none;
  border-width: 3px; }

.button-round {
  border-radius: 30px; }

.button-full {
  display: block;
  text-align: center; }

.button-center {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center; }

.button:hover {
  opacity: 0.9;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease; }

.icon-square,
.icon-round {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: inline-block;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 10px;
  font-size: 14px; }

.icon-square:hover,
.icon-round:hover {
  opacity: 0.9; }

.icon-round {
  border-radius: 45px; }

/*Page 404*/
.page-404 h1 {
  font-size: 60px;
  line-height: 70px;
  margin-top: 50px; }

.page-404 a {
  margin-bottom: 100px; }

.page-soon h1 {
  font-size: 60px;
  line-height: 70px;
  margin-top: 50px; }

.page-soon h6 {
  font-size: 24px; }

.page-soon .social-icons {
  margin-bottom: 100px; }

/*Profile Page*/
.profile-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(75%, rgba(255, 255, 255, 0.95)), to(white));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.95) 75%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff',endColorstr='#ffffff',GradientType=0);
  height: 250px;
  margin-top: -235px; }

.profile-overlay .button {
  margin-bottom: 30px; }

.profile-overlay .profile-header {
  margin-top: -80px; }

.profile-header h1 {
  font-size: 30px; }

.profile-header h6 {
  letter-spacing: 2px;
  opacity: 0.5; }

.profile-header h5 {
  font-size: 12px; }

.profile-header i {
  margin-right: 10px; }

.profile-header p {
  font-size: 18px; }

.profile-followers a {
  float: left;
  width: 33%;
  color: #1f1f1f;
  font-size: 18px; }

.profile-followers em {
  display: block;
  font-style: normal;
  font-size: 12px; }

.profile-thumb {
  margin-top: -50px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 100px;
  border-radius: 100px;
  border: solid 3px #ffffff; }

/*Timeline 1*/
.timeline-1 {
  overflow: hidden;
  padding: 20px; }

.timeline-1 .timeline-deco {
  position: absolute;
  top: 0px;
  left: 50%;
  width: 1px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.15); }

.timeline-1 .timeline-icon {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 18px;
  background-color: #ffffff;
  border: solid 1px rgba(0, 0, 0, 0.2);
  margin: 0px auto 30px auto; }

.timeline-1 .container {
  background-color: #ffffff;
  padding: 30px 0px 1px 0px; }

.timeline-2 {
  overflow: hidden;
  padding: 50px 20px 0px 20px;
  margin-bottom: -30px; }

.timeline-2 .timeline-deco {
  position: absolute;
  top: 0px;
  left: 50px;
  width: 1px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.15); }

.timeline-2 .timeline-icon {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  background-color: #ffffff;
  border: solid 1px rgba(0, 0, 0, 0.2);
  margin-left: 10px; }

.timeline-2 .container {
  background-color: #ffffff;
  margin-left: 70px;
  margin-top: -60px;
  padding-bottom: 30px; }

/*Contact Page*/
.contactField {
  font-family: "Roboto", sans-serif;
  height: 40px;
  line-height: 40px;
  line-height: 100%;
  width: 100%;
  display: block;
  border: solid 1px rgba(0, 0, 0, 0.1);
  text-indent: 10px;
  font-size: 13px;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  margin-bottom: 20px; }

.contactField:focus {
  border: solid 1px #27ae60;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease; }

.contactTextarea {
  font-family: "Roboto", sans-serif;
  padding-top: 10px;
  min-height: 80px;
  line-height: 40px;
  line-height: 100%;
  width: 100%;
  display: block;
  border: solid 1px rgba(0, 0, 0, 0.1);
  text-indent: 10px;
  font-size: 13px;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  margin-bottom: 30px; }

.contactTextarea:focus {
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  border: solid 1px #27ae60; }

.field-title {
  font-size: 13px;
  margin-bottom: 5px; }

.field-title span {
  font-size: 10px;
  color: #cacaca;
  position: absolute;
  right: 0px;
  margin-top: 2px; }

.buttonWrap {
  width: 100%;
  display: block;
  text-align: center;
  margin-bottom: 30px;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none; }

.contact-icon {
  color: #666666;
  line-height: 30px; }

.contact-icon i {
  color: #1f1f1f;
  width: 30px; }

/*Cover Pages*/
.cover-1 {
  padding: 30px 20px 0px 20px; }

.cover-1 h1 {
  font-size: 30px;
  margin-top: 80px;
  color: #ffffff; }

.cover-1 h6 {
  font-size: 16px;
  color: #ffffff;
  padding: 10px 0px 30px 0px;
  font-weight: 300; }

.cover-1 p {
  font-size: 15px;
  font-weight: 300;
  color: #a7a7a7;
  line-height: 35px;
  margin-bottom: 50px; }

.cover-1 .button {
  border: solid 1px rgba(255, 255, 255, 0.2);
  color: #ffffff;
  margin-right: 10px;
  margin-bottom: 80px; }

.cover-2 h1 {
  color: #ffffff;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  padding-top: 100px; }

.cover-2 h6 {
  color: #c1c1c1;
  font-style: italic;
  font-size: 13px;
  font-weight: 300;
  text-align: center;
  padding: 0px 0px 20px 0px; }

.cover-2 .button {
  margin-bottom: 50px; }

.cover-2 p {
  font-size: 15px;
  text-align: center;
  line-height: 36px;
  color: #c1c1c1;
  padding: 30px 35px 20px 35px;
  font-weight: 300; }

.cover-3 {
  padding: 20px 15px 20px 15px;
  background-color: #ffffff;
  margin: 80px 20px 60px 20px;
  border-radius: 7px; }

.cover-3 amp-img {
  margin: 0 auto;
  display: block; }

.cover-3 h1 {
  font-size: 24px;
  text-align: center;
  padding: 20px 0px 0px 0px; }

.cover-3 em {
  font-size: 12px;
  display: block;
  text-align: center;
  margin-bottom: 20px; }

.cover-3 p {
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  padding: 0px 5px 0px 5px; }

.cover-3 .socials {
  -webkit-transform: scale(0.8, 0.8);
      -ms-transform: scale(0.8, 0.8);
          transform: scale(0.8, 0.8);
  width: 210px;
  margin: 0 auto; }

.cover-3 .socials a {
  margin-left: 4px;
  margin-right: 4px; }

.cover-4 h1 {
  color: #ffffff;
  text-align: center;
  font-weight: 300;
  font-size: 36px;
  margin: 80px 0px 10px 0px; }

.cover-4 em {
  color: #ffffff;
  text-align: center;
  font-style: normal;
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300; }

.cover-4 strong {
  color: #969696;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 12px;
  text-align: center;
  display: block;
  margin: 20px 0px 30px 0px; }

.cover-4 strong i {
  padding-right: 10px; }

.cover-4 p {
  padding: 40px 30px 40px 30px;
  color: #ffffff;
  line-height: 36px;
  text-align: center;
  font-weight: 300;
  font-size: 16px; }

.cover-4 a {
  font-size: 13px;
  width: 170px;
  margin: 0 auto; }

.cover-5 h1 {
  color: #ffffff;
  font-size: 40px;
  font-weight: 300;
  text-align: center;
  padding-top: 100px; }

.cover-5 em {
  display: block;
  text-align: center;
  color: #ffffff;
  font-size: 12px;
  margin-top: 10px;
  font-style: normal; }

.cover-5 p {
  padding: 20px 30px 20px 30px;
  color: #a7a7a7;
  font-weight: 300;
  text-align: center;
  font-size: 16px;
  line-height: 40px; }

.cover-socials a {
  width: 35px;
  height: 35px;
  border-radius: 35px;
  float: left;
  text-align: center;
  line-height: 35px;
  font-size: 12px;
  margin: 0px 5px 0px 5px; }

.cover-socials {
  width: 225px;
  left: 50%;
  margin-left: -113px;
  position: fixed;
  bottom: 30px; }

@media (max-width: 330px) {
  .cover-1 p {
    font-size: 12px;
    line-height: 24px; }
  .cover-2 p {
    font-size: 12px;
    line-height: 24px;
    padding: 20px 25px 20px 25px; }
  .cover-3 p {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 10px; }
  .cover-4 p {
    padding: 0px 30px 0px 30px;
    font-size: 14px;
    line-height: 24px; }
  .cover-5 p {
    padding: 20px 30px 0px 30px;
    font-size: 14px;
    line-height: 30px; }
  .cover-1 h1 {
    font-size: 20px;
    margin-top: 60px; }
  .cover-1 h6 {
    font-size: 14px;
    margin-top: -15px; }
  .cover-1 .button {
    height: 20px;
    font-size: 12px; }
  .cover-2 h1 {
    font-size: 20px;
    padding-top: 70px; }
  .cover-3 h1 {
    font-size: 18px;
    margin-top: -10px; }
  .cover-3 em {
    margin-bottom: 10px; }
  .cover-5 h1 {
    padding-top: 80px; } }
