/*! bulma.io v0.7.5 | MIT License | github.com/jgthms/bulma */
.is-unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.content:not(:last-child) {
  margin-bottom: 1.5rem; }

.is-overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0; }

.input, .textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: none;
          box-shadow: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 1rem;
  height: 2.25em;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.375em - 1px);
  padding-left: calc(0.625em - 1px);
  padding-right: calc(0.625em - 1px);
  padding-top: calc(0.375em - 1px);
  position: relative;
  vertical-align: top; }
  .input:focus, .textarea:focus, .is-focused.input, .is-focused.textarea, .input:active, .textarea:active, .is-active.input, .is-active.textarea {
    outline: none; }
  .input[disabled], .textarea[disabled],
  fieldset[disabled] .input,
  fieldset[disabled] .textarea {
    cursor: not-allowed; }

/*! minireset.css v0.0.4 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none; }

button,
input,
select,
textarea {
  margin: 0; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

img,
embed,
iframe,
object,
video {
  height: auto;
  max-width: 100%; }

audio {
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }
  td:not([align]),
  th:not([align]) {
    text-align: left; }

html {
  background-color: #fff;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%; }

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block; }

body,
button,
input,
select,
textarea {
  font-family: BlinkMacSystemFont, -apple-system, "Roboto", "Arial", sans-serif; }

code,
pre {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-family: monospace; }

body {
  color: #4a4a4a;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5; }

a {
  color: #3273dc;
  cursor: pointer;
  text-decoration: none; }
  a strong {
    color: currentColor; }
  a:hover {
    color: #363636; }

code {
  background-color: whitesmoke;
  color: #ff3860;
  font-size: 0.875em;
  font-weight: normal;
  padding: 0.25em 0.5em 0.25em; }

hr {
  background-color: whitesmoke;
  border: none;
  display: block;
  height: 2px;
  margin: 1.5rem 0; }

img {
  height: auto;
  max-width: 100%; }

input[type="checkbox"],
input[type="radio"] {
  vertical-align: baseline; }

small {
  font-size: 0.875em; }

span {
  font-style: inherit;
  font-weight: inherit; }

strong {
  color: #363636;
  font-weight: 700; }

fieldset {
  border: none; }

pre {
  -webkit-overflow-scrolling: touch;
  background-color: whitesmoke;
  color: #4a4a4a;
  font-size: 0.875em;
  overflow-x: auto;
  padding: 1.25rem 1.5rem;
  white-space: pre;
  word-wrap: normal; }
  pre code {
    background-color: transparent;
    color: currentColor;
    font-size: 1em;
    padding: 0; }

table td,
table th {
  vertical-align: top; }
  table td:not([align]),
  table th:not([align]) {
    text-align: left; }

table th {
  color: #363636; }

.is-clearfix::after {
  clear: both;
  content: " ";
  display: table; }

.is-pulled-left {
  float: left; }

.is-pulled-right {
  float: right; }

.is-clipped {
  overflow: hidden; }

.has-text-centered {
  text-align: center; }

.has-text-justified {
  text-align: justify; }

.has-text-left {
  text-align: left; }

.has-text-right {
  text-align: right; }

.is-capitalized {
  text-transform: capitalize; }

.is-lowercase {
  text-transform: lowercase; }

.is-uppercase {
  text-transform: uppercase; }

.is-italic {
  font-style: italic; }

.has-text-weight-light {
  font-weight: 300; }

.has-text-weight-normal {
  font-weight: 400; }

.has-text-weight-medium {
  font-weight: 500; }

.has-text-weight-semibold {
  font-weight: 600; }

.has-text-weight-bold {
  font-weight: 700; }

.is-family-primary {
  font-family: BlinkMacSystemFont, -apple-system, "Roboto", "Arial", sans-serif; }

.is-family-secondary {
  font-family: BlinkMacSystemFont, -apple-system, "Roboto", "Arial", sans-serif; }

.is-family-sans-serif {
  font-family: BlinkMacSystemFont, -apple-system, "Roboto", "Arial", sans-serif; }

.is-block {
  display: block; }

.is-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.is-inline {
  display: inline; }

.is-inline-block {
  display: inline-block; }

.is-hidden {
  display: none; }

.is-sr-only {
  border: none;
  clip: rect(0, 0, 0, 0);
  height: 0.01em;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 0.01em; }

.is-invisible {
  visibility: hidden; }

.is-marginless {
  margin: 0; }

.is-paddingless {
  padding: 0; }

.is-radiusless {
  border-radius: 0; }

.is-shadowless {
  -webkit-box-shadow: none;
          box-shadow: none; }

.is-relative {
  position: relative; }

.container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto; }

.content li + li {
  margin-top: 0.25em; }

.content p:not(:last-child),
.content dl:not(:last-child),
.content ol:not(:last-child),
.content ul:not(:last-child),
.content blockquote:not(:last-child),
.content pre:not(:last-child),
.content table:not(:last-child) {
  margin-bottom: 1em; }

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  color: #363636;
  font-weight: 600;
  line-height: 1.125; }

.content h1 {
  font-size: 2em;
  margin-bottom: 0.5em; }
  .content h1:not(:first-child) {
    margin-top: 1em; }

.content h2 {
  font-size: 1.75em;
  margin-bottom: 0.5714em; }
  .content h2:not(:first-child) {
    margin-top: 1.1428em; }

.content h3 {
  font-size: 1.5em;
  margin-bottom: 0.6666em; }
  .content h3:not(:first-child) {
    margin-top: 1.3333em; }

.content h4 {
  font-size: 1.25em;
  margin-bottom: 0.8em; }

.content h5 {
  font-size: 1.125em;
  margin-bottom: 0.8888em; }

.content h6 {
  font-size: 1em;
  margin-bottom: 1em; }

.content blockquote {
  background-color: whitesmoke;
  border-left: 5px solid #dbdbdb;
  padding: 1.25em 1.5em; }

.content ol {
  list-style-position: outside;
  margin-left: 2em;
  margin-top: 1em; }
  .content ol:not([type]) {
    list-style-type: decimal; }
    .content ol:not([type]).is-lower-alpha {
      list-style-type: lower-alpha; }
    .content ol:not([type]).is-lower-roman {
      list-style-type: lower-roman; }
    .content ol:not([type]).is-upper-alpha {
      list-style-type: upper-alpha; }
    .content ol:not([type]).is-upper-roman {
      list-style-type: upper-roman; }

.content ul {
  list-style: disc outside;
  margin-left: 2em;
  margin-top: 1em; }
  .content ul ul {
    list-style-type: circle;
    margin-top: 0.5em; }
    .content ul ul ul {
      list-style-type: square; }

.content dd {
  margin-left: 2em; }

.content figure {
  margin-left: 2em;
  margin-right: 2em;
  text-align: center; }
  .content figure:not(:first-child) {
    margin-top: 2em; }
  .content figure:not(:last-child) {
    margin-bottom: 2em; }
  .content figure img {
    display: inline-block; }
  .content figure figcaption {
    font-style: italic; }

.content pre {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  padding: 1.25em 1.5em;
  white-space: pre;
  word-wrap: normal; }

.content sup,
.content sub {
  font-size: 75%; }

.content table {
  width: 100%; }
  .content table td,
  .content table th {
    border: 1px solid #dbdbdb;
    border-width: 0 0 1px;
    padding: 0.5em 0.75em;
    vertical-align: top; }
  .content table th {
    color: #363636; }
    .content table th:not([align]) {
      text-align: left; }
  .content table thead td,
  .content table thead th {
    border-width: 0 0 2px;
    color: #363636; }
  .content table tfoot td,
  .content table tfoot th {
    border-width: 2px 0 0;
    color: #363636; }
  .content table tbody tr:last-child td,
  .content table tbody tr:last-child th {
    border-bottom-width: 0; }

.content .tabs li + li {
  margin-top: 0; }

.content.is-small {
  font-size: 0.75rem; }

.content.is-medium {
  font-size: 1.25rem; }

.content.is-large {
  font-size: 1.5rem; }

.icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 1.5rem;
  width: 1.5rem; }
  .icon.is-small {
    height: 1rem;
    width: 1rem; }
  .icon.is-medium {
    height: 2rem;
    width: 2rem; }
  .icon.is-large {
    height: 3rem;
    width: 3rem; }

.input, .textarea {
  background-color: #fff;
  border-color: #dbdbdb;
  border-radius: 4px;
  color: #363636; }
  .input::-moz-placeholder, .textarea::-moz-placeholder {
    color: rgba(54, 54, 54, 0.3); }
  .input::-webkit-input-placeholder, .textarea::-webkit-input-placeholder {
    color: rgba(54, 54, 54, 0.3); }
  .input:-moz-placeholder, .textarea:-moz-placeholder {
    color: rgba(54, 54, 54, 0.3); }
  .input:-ms-input-placeholder, .textarea:-ms-input-placeholder {
    color: rgba(54, 54, 54, 0.3); }
  .input:hover, .textarea:hover, .is-hovered.input, .is-hovered.textarea {
    border-color: #b5b5b5; }
  .input:focus, .textarea:focus, .is-focused.input, .is-focused.textarea, .input:active, .textarea:active, .is-active.input, .is-active.textarea {
    border-color: #3273dc;
    -webkit-box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
            box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25); }
  .input[disabled], .textarea[disabled],
  fieldset[disabled] .input,
  fieldset[disabled] .textarea {
    background-color: whitesmoke;
    border-color: whitesmoke;
    -webkit-box-shadow: none;
            box-shadow: none;
    color: #7a7a7a; }
    .input[disabled]::-moz-placeholder, .textarea[disabled]::-moz-placeholder,
    fieldset[disabled] .input::-moz-placeholder,
    fieldset[disabled] .textarea::-moz-placeholder {
      color: rgba(122, 122, 122, 0.3); }
    .input[disabled]::-webkit-input-placeholder, .textarea[disabled]::-webkit-input-placeholder,
    fieldset[disabled] .input::-webkit-input-placeholder,
    fieldset[disabled] .textarea::-webkit-input-placeholder {
      color: rgba(122, 122, 122, 0.3); }
    .input[disabled]:-moz-placeholder, .textarea[disabled]:-moz-placeholder,
    fieldset[disabled] .input:-moz-placeholder,
    fieldset[disabled] .textarea:-moz-placeholder {
      color: rgba(122, 122, 122, 0.3); }
    .input[disabled]:-ms-input-placeholder, .textarea[disabled]:-ms-input-placeholder,
    fieldset[disabled] .input:-ms-input-placeholder,
    fieldset[disabled] .textarea:-ms-input-placeholder {
      color: rgba(122, 122, 122, 0.3); }

.input, .textarea {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  width: 100%; }
  .input[readonly], .textarea[readonly] {
    -webkit-box-shadow: none;
            box-shadow: none; }
  .is-small.input, .is-small.textarea {
    border-radius: 2px;
    font-size: 0.75rem; }
  .is-medium.input, .is-medium.textarea {
    font-size: 1.25rem; }
  .is-large.input, .is-large.textarea {
    font-size: 1.5rem; }
  .is-fullwidth.input, .is-fullwidth.textarea {
    display: block;
    width: 100%; }
  .is-inline.input, .is-inline.textarea {
    display: inline;
    width: auto; }

.input.is-rounded {
  border-radius: 290486px;
  padding-left: 1em;
  padding-right: 1em; }

.input.is-static {
  background-color: transparent;
  border-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding-left: 0;
  padding-right: 0; }

.textarea {
  display: block;
  max-width: 100%;
  min-width: 100%;
  padding: 0.625em;
  resize: vertical; }
  .textarea:not([rows]) {
    max-height: 600px;
    min-height: 120px; }
  .textarea[rows] {
    height: initial; }
  .textarea.has-fixed-size {
    resize: none; }

.label {
  color: #363636;
  display: block;
  font-size: 1rem;
  font-weight: 700; }
  .label:not(:last-child) {
    margin-bottom: 0.5em; }
  .label.is-small {
    font-size: 0.75rem; }
  .label.is-medium {
    font-size: 1.25rem; }
  .label.is-large {
    font-size: 1.5rem; }

.help {
  display: block;
  font-size: 0.75rem;
  margin-top: 0.25rem; }

.control {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  clear: both;
  font-size: 1rem;
  position: relative;
  text-align: left; }
  .control.has-icons-left .input:focus ~ .icon,
  .control.has-icons-left .select:focus ~ .icon, .control.has-icons-right .input:focus ~ .icon,
  .control.has-icons-right .select:focus ~ .icon {
    color: #7a7a7a; }
  .control.has-icons-left .icon, .control.has-icons-right .icon {
    color: #dbdbdb;
    height: 2.25em;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 2.25em;
    z-index: 4; }
  .control.has-icons-left .input,
  .control.has-icons-left .select select {
    padding-left: 2.25em; }
  .control.has-icons-left .icon.is-left {
    left: 0; }
  .control.has-icons-right .input,
  .control.has-icons-right .select select {
    padding-right: 2.25em; }
  .control.has-icons-right .icon.is-right {
    right: 0; }

.media {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left; }
  .media .content:not(:last-child) {
    margin-bottom: 0.75rem; }
  .media .media {
    border-top: 1px solid rgba(219, 219, 219, 0.5);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 0.75rem; }
    .media .media .content:not(:last-child),
    .media .media .control:not(:last-child) {
      margin-bottom: 0.5rem; }
    .media .media .media {
      padding-top: 0.5rem; }
      .media .media .media + .media {
        margin-top: 0.5rem; }
  .media + .media {
    border-top: 1px solid rgba(219, 219, 219, 0.5);
    margin-top: 1rem;
    padding-top: 1rem; }
  .media.is-large + .media {
    margin-top: 1.5rem;
    padding-top: 1.5rem; }

.media-left,
.media-right {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0; }

.media-left {
  margin-right: 1rem; }

.media-right {
  margin-left: 1rem; }

.media-content {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  text-align: left; }

.menu {
  font-size: 1rem; }
  .menu.is-small {
    font-size: 0.75rem; }
  .menu.is-medium {
    font-size: 1.25rem; }
  .menu.is-large {
    font-size: 1.5rem; }

.menu-list {
  line-height: 1.25; }
  .menu-list a {
    border-radius: 2px;
    color: #4a4a4a;
    display: block;
    padding: 0.5em 0.75em; }
    .menu-list a:hover {
      background-color: whitesmoke;
      color: #363636; }
    .menu-list a.is-active {
      background-color: #3273dc;
      color: #fff; }
  .menu-list li ul {
    border-left: 1px solid #dbdbdb;
    margin: 0.75em;
    padding-left: 0.75em; }

.menu-label {
  color: #7a7a7a;
  font-size: 0.75em;
  letter-spacing: 0.1em;
  text-transform: uppercase; }
  .menu-label:not(:first-child) {
    margin-top: 1em; }
  .menu-label:not(:last-child) {
    margin-bottom: 1em; }

.column {
  display: block;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  padding: 0.75rem; }
  .columns.is-mobile > .column.is-narrow {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none; }
  .columns.is-mobile > .column.is-full {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 100%; }
  .columns.is-mobile > .column.is-three-quarters {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 75%; }
  .columns.is-mobile > .column.is-two-thirds {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 66.6666%; }
  .columns.is-mobile > .column.is-half {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 50%; }
  .columns.is-mobile > .column.is-one-third {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 33.3333%; }
  .columns.is-mobile > .column.is-one-quarter {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 25%; }
  .columns.is-mobile > .column.is-one-fifth {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 20%; }
  .columns.is-mobile > .column.is-two-fifths {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 40%; }
  .columns.is-mobile > .column.is-three-fifths {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 60%; }
  .columns.is-mobile > .column.is-four-fifths {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 80%; }
  .columns.is-mobile > .column.is-offset-three-quarters {
    margin-left: 75%; }
  .columns.is-mobile > .column.is-offset-two-thirds {
    margin-left: 66.6666%; }
  .columns.is-mobile > .column.is-offset-half {
    margin-left: 50%; }
  .columns.is-mobile > .column.is-offset-one-third {
    margin-left: 33.3333%; }
  .columns.is-mobile > .column.is-offset-one-quarter {
    margin-left: 25%; }
  .columns.is-mobile > .column.is-offset-one-fifth {
    margin-left: 20%; }
  .columns.is-mobile > .column.is-offset-two-fifths {
    margin-left: 40%; }
  .columns.is-mobile > .column.is-offset-three-fifths {
    margin-left: 60%; }
  .columns.is-mobile > .column.is-offset-four-fifths {
    margin-left: 80%; }
  .columns.is-mobile > .column.is-0 {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 0%; }
  .columns.is-mobile > .column.is-offset-0 {
    margin-left: 0%; }
  .columns.is-mobile > .column.is-1 {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 8.33333%; }
  .columns.is-mobile > .column.is-offset-1 {
    margin-left: 8.33333%; }
  .columns.is-mobile > .column.is-2 {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 16.66667%; }
  .columns.is-mobile > .column.is-offset-2 {
    margin-left: 16.66667%; }
  .columns.is-mobile > .column.is-3 {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 25%; }
  .columns.is-mobile > .column.is-offset-3 {
    margin-left: 25%; }
  .columns.is-mobile > .column.is-4 {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 33.33333%; }
  .columns.is-mobile > .column.is-offset-4 {
    margin-left: 33.33333%; }
  .columns.is-mobile > .column.is-5 {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 41.66667%; }
  .columns.is-mobile > .column.is-offset-5 {
    margin-left: 41.66667%; }
  .columns.is-mobile > .column.is-6 {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 50%; }
  .columns.is-mobile > .column.is-offset-6 {
    margin-left: 50%; }
  .columns.is-mobile > .column.is-7 {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 58.33333%; }
  .columns.is-mobile > .column.is-offset-7 {
    margin-left: 58.33333%; }
  .columns.is-mobile > .column.is-8 {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 66.66667%; }
  .columns.is-mobile > .column.is-offset-8 {
    margin-left: 66.66667%; }
  .columns.is-mobile > .column.is-9 {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 75%; }
  .columns.is-mobile > .column.is-offset-9 {
    margin-left: 75%; }
  .columns.is-mobile > .column.is-10 {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 83.33333%; }
  .columns.is-mobile > .column.is-offset-10 {
    margin-left: 83.33333%; }
  .columns.is-mobile > .column.is-11 {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 91.66667%; }
  .columns.is-mobile > .column.is-offset-11 {
    margin-left: 91.66667%; }
  .columns.is-mobile > .column.is-12 {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 100%; }
  .columns.is-mobile > .column.is-offset-12 {
    margin-left: 100%; }

.columns {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-top: -0.75rem; }
  .columns:last-child {
    margin-bottom: -0.75rem; }
  .columns:not(:last-child) {
    margin-bottom: calc(1.5rem - 0.75rem); }
  .columns.is-centered {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .columns.is-gapless {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0; }
    .columns.is-gapless > .column {
      margin: 0;
      padding: 0; }
    .columns.is-gapless:not(:last-child) {
      margin-bottom: 1.5rem; }
    .columns.is-gapless:last-child {
      margin-bottom: 0; }
  .columns.is-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .columns.is-multiline {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .columns.is-vcentered {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

svg:not(:root).svg-inline {
  overflow: visible; }

.svg-inline {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  width: 1em;
  overflow: visible;
  vertical-align: -0.125em;
  fill: currentColor; }

#mainSideBar {
  background: white;
  width: 300px; }

.sidebar {
  background: white; }

.sidebar-menu-item {
  position: relative; }
  .sidebar-menu-item a {
    position: relative;
    z-index: 1;
    padding-left: 50px;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px; }

.sidebar-menu-icon {
  position: absolute;
  left: 0;
  top: 8px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: white;
  color: #AE2070;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #E0E0E0;
  font-size: 16px;
  -webkit-box-shadow: 0 0 4px rgba(25, 25, 25, 0.1);
          box-shadow: 0 0 4px rgba(25, 25, 25, 0.1); }

.list-normal li {
  margin-bottom: 10px; }

html,
body {
  font-size: 14px; }

.cluster {
  padding: 15px; }

.momo-logo {
  border-radius: 5px;
  line-height: 0; }

.momo-search {
  width: 100%; }
  .momo-search .icon {
    padding-top: 4px; }
  .momo-search svg {
    width: 14px;
    fill: #AE2070; }
  .momo-search .input {
    border: none;
    height: 2.5em;
    padding-left: 10px; }

.navbar-brand {
  width: 100%; }

.momo-search-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%; }

.post {
  padding-top: 10px;
  padding-bottom: 10px; }

.post-header .post-header-title {
  color: #F02475;
  line-height: 1.3; }

.post-header .post-desc {
  font-size: 17px;
  color: #7a7a7a;
  font-weight: normal;
  line-height: 1.6;
  margin-bottom: 20px; }

.post-body {
  line-height: 1.625;
  font-size: 1.15rem; }
  .post-body img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    width: auto;
    height: auto; }
  .post-body table,
  .post-body table,
  .post-body .table {
    width: 100%; }
  .post-body span,
  .post-body strong {
    line-height: inherit; }

.post-byline {
  color: #7a7a7a;
  font-size: 13px; }

.post-byline {
  margin-bottom: 20px; }

.social-share-container {
  height: 30px; }

.socials-share-title {
  line-height: 30px;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px; }

.post-date {
  margin-right: 10px; }

.post-share {
  line-height: 0; }

amp-social-share[type="facebook"],
amp-social-share[type="gplus"],
amp-social-share[type="pinterest"],
amp-social-share[type="email"],
amp-social-share[type="twitter"],
amp-social-share[type="linkedin"] {
  background-size: 21px; }

amp-social-share {
  font-size: 1.6rem;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  color: #fff;
  margin-right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.post-relative .media + .media {
  margin-top: 8px;
  padding-top: 8px; }

.post-relative-img {
  width: 120px; }
  .post-relative-img .image img {
    height: auto; }

.post-relative-title {
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 5px;
  line-height: 1.4; }
  .post-relative-title a {
    color: inherit; }

.post-relative-date {
  font-size: 11px;
  color: #7a7a7a; }

.section-title {
  position: relative;
  overflow: hidden;
  margin-bottom: 10px; }
  .section-title:before {
    content: "";
    height: 4px;
    border-width: 54x 0 0;
    border-style: solid;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto 0;
    border-color: #eee;
    z-index: 0; }

.section-title-text {
  float: left;
  font-size: 18px;
  font-weight: inherit;
  margin: 0;
  line-height: inherit;
  padding: 0 20px 0 0;
  background: #fff;
  z-index: 1;
  position: relative; }

#mainSideBar {
  padding: 15px; }

.mainnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  background: #AE2070;
  color: white;
  min-height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.mainnav-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  min-width: 0px; }

.momo-search-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0px; }

.mainnav-burger {
  padding: 8px 15px;
  font-size: 20px;
  color: white;
  height: 100%; }

.mainnav-logo {
  padding: 4px 10px; }

.ft-ct {
  margin-top: 10px;
  border-top: 10px solid #EEEEEE;
  padding: 15px 15px 90px; }
  .ft-ct .svg-inline {
    font-size: 1.2em;
    margin-right: 5px;
    vertical-align: middle; }

.content ul {
  margin-left: 1em; }

.promo-banner {
  padding: 10px;
  border-radius: 10px;
  position: fixed;
  bottom: 10px;
  width: calc(100% - 20px);
  margin: 0;
  background: #eaeaec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 15; }
  .promo-banner img {
    width: 50px;
    height: 50px; }

.promo-banner-infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 15px; }
  .promo-banner-infos .title {
    color: #000;
    font-size: 17px;
    font-weight: 500; }
  .promo-banner-infos .url {
    color: #545454;
    margin-top: 0;
    font-size: 16px; }

.promo-banner-btn {
  background: #AE2070;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4px 11px;
  border-radius: 30px;
  font-weight: 700;
  font-size: 15px; }

.link, .tab-link {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  z-index: 1; }
