{% set title = 'Gulp Des Index' %}
{% set page = 'index.html' %}

{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}


{% block content %}


<amp-sidebar id='mainSideBar' layout='nodisplay'>



    <aside class="menu sidebar">
        <p class="menu-label">
            Danh mục
        </p>



        <ul class="menu-list sidebar-menu">
            <li class="sidebar-menu-item">
                <div class="sidebar-menu-icon">
                    <svg class="svg-inline svg"   viewBox="0 0 464.7 512">
                        <path
                            d="M128 245.6c67.8 0 122.8-55 122.8-122.8S195.8 0 128 0 5.3 55 5.3 122.8 60.2 245.6 128 245.6zm-42.9-74.3c1.1-4.1 2.2-8 3.5-12.1 1.4-4.7 2.7-5.2 7-2.9 7.3 3.8 15 5.9 23.2 6.9 5.2.6 10.4.1 15.1-2 9-4 10.5-14.4 2.8-20.7-2.6-2.1-5.6-3.8-8.6-5.1-7.9-3.5-16.2-6.1-23.7-10.6-12.1-7.2-19.8-17.3-18.9-32 1-16.7 10.5-27.1 25.7-32.6 6.3-2.3 6.3-2.2 6.4-8.8v-6.7c.1-5 1-5.8 5.9-6h4.6c10.6 0 10.6 0 10.6 10.6 0 7.4 0 7.5 7.4 8.6 5.7.9 11.1 2.5 16.4 4.9 2.9 1.3 4 3.4 3.2 6.4-1.3 4.6-2.5 9.1-4.1 13.6-1.4 4.3-2.7 4.9-6.8 2.9-8.2-4-16.9-5.7-26-5.2-2.4.1-4.7.4-6.9 1.4-7.8 3.5-9.1 12.1-2.4 17.5 3.4 2.7 7.2 4.7 11.3 6.3 6.9 2.8 13.9 5.7 20.6 9.3 21 11.7 26.7 38.1 11.9 56.1-5.4 6.5-12.3 10.9-20.5 13.1-3.6 1-5.2 2.8-5 6.5s0 7.2 0 10.9c0 3.3-1.6 5-4.9 5.1-3.9.1-7.8.1-11.7 0-3.5-.1-5.1-2-5.1-5.4l-.1-7.9c-.1-5.8-.2-6.1-5.9-7-7.2-1.1-14.2-2.7-20.8-6-5.1-2.4-5.6-3.7-4.2-9.1zm356.6 108.8H425c-11-29-32.6-54.7-61.4-74.6 0-.9-.2-1.9-.5-2.8-6-18.2 1.4-34.8 10.1-46.6 6-8.3-1.8-19-13.2-17.8-25.5 2.7-43 10.8-55.1 19.8-8.3 6.2-14.2 14.5-16.8 23.8C269.8 246.7 201.7 295 120.4 295c-39.5 0-75.8-11.4-104.8-30.5C5.5 283.1 0 303.6 0 325c0 11.6 1.7 22.9 4.7 33.7a1.75 1.75 0 0 0 .1.5c3.2 11.3 8.1 22.2 14.2 32.4 8.2 15.1 20 32.8 36.4 47.2C79 459.6 83 485.4 83.6 496.6v5.5c.5 5.5 5.8 9.9 12.3 9.9H171c6.8 0 12.3-4.7 12.3-10.6v-15.9c10.9 1.2 22.1 1.9 33.3 1.9 8.9 0 17.5-.4 26.2-1.2v15.1c0 5.8 5.5 10.6 12.3 10.6h75.2c6.8 0 12.3-4.7 12.3-10.6v-15.9c.1-5.3 2.3-26.3 25.5-44.3.8-.6 1.7-1.2 2.5-1.8.2-.2.5-.3.7-.5 25.8-19.7 44.9-44.3 54.8-71.7h15.8c12.6 0 22.8-8.7 22.8-19.5v-48.1c-.3-10.7-10.5-19.4-23-19.4zM330.8 293c-16.4 0-29.6-11.3-29.6-25.4s13.2-25.4 29.6-25.4 29.6 11.3 29.6 25.4-13.2 25.4-29.6 25.4z" />
                        </svg>
                </div>

                <a>Hoàn tiền</a>
            </li>

            <li class="sidebar-menu-item">
                <div class="sidebar-menu-icon">

                    <svg class="svg-inline svg"  viewBox="0 0 548.8 512">
                        <path
                            d="M429.8 237.7c65.6-.1 118.7-53.4 118.7-119S495.1.1 429.5.1c-65.6.1-118.7 53.3-118.7 118.8-.1 65.5 53 118.7 118.4 118.8h.6zm0-170.5c28.5.1 51.7 23.4 51.6 51.9s-23.4 51.7-51.9 51.6-51.6-23.3-51.6-51.7c0-28.5 23.2-51.7 51.7-51.7.1-.1.1-.1.2-.1zM198.1.1c-19.3 0-38.1 5.8-53.9 16.7C128.3 6 109.4.1 90.3.1 42.2-1.7 1.9 35.8 0 83.7v154h72.4v-154c.4-9.4 8.4-16.8 17.8-16.5 9.4-.9 17.9 6.2 18.7 15.6v154.9h71.6v-154c3.2-9.9 13.8-15.2 23.7-11.9 5.7 1.8 10.1 6.3 11.9 11.9v154h72.4v-154C286.4 35.7 246-1.8 198.1.1zM429.8 512c65.7 0 119-53.3 119-119s-53.3-119-119-119-119 53.3-119 119v.5C311 459 364.1 512.1 429.6 512h.2zm0-170.5c28.5.1 51.7 23.4 51.6 51.9S458 445.1 429.5 445c-28.3-.1-51.3-23-51.6-51.3-.3-28.4 22.5-51.8 50.9-52.1.4-.1.7-.1 1-.1zm-231.7-67.1c-19.3-.1-38.2 5.7-53.9 16.7-15.9-10.9-34.7-16.8-53.9-16.7C42.3 272.6 2 310.1.1 358v154h72.4V358c.4-9.4 8.4-16.8 17.8-16.5 9.4-.9 17.9 6.2 18.7 15.6V512h71.6V358c3.2-9.9 13.8-15.2 23.7-11.9 5.7 1.8 10.1 6.3 11.9 11.9v154h72.2V358c-2-48.1-42.4-85.5-90.3-83.6z" />
                        </svg>
                </div>

                <a>Giới thiệu</a>
            </li>

            <li class="sidebar-menu-item">
                <div class="sidebar-menu-icon">
                    <svg class="svg-inline svg"   viewBox="0 0 363.3 512"
                        fill-rule="evenodd">
                        <path
                            d="M103.3 30.4L0 125.4h103.3zm212.3 223.9L129.1 441.1 105.6 512l71.3-23.5 186.4-186.4zM140.4 413.2H47.7v-46h138.6l39.3-39.4H47.7v-46h223.8l44.1-44.2 24.8 24.8v-235H128.7v128.7H0v325.1h103.4l15.4-46.4 21.6-21.6zM47.7 196.5h245v46h-245v-46zm244.9 216.7h-23.8l-68 68h139.5V341.7l-47.7 47.7z" />
                        </svg>
                </div>

                <a>Tin tức</a>
            </li>

            <li class="sidebar-menu-item">
                <div class="sidebar-menu-icon">

                    <svg class="svg-inline svg  "  viewBox="0 0 534 512">
                        <path
                            d="M481.1 185.3h-49.6v50c0 48.4-29.3 87.9-81.1 87.9H167.9v72c0 28.7 23.3 52.1 52.1 52.1h179.5l59.2 59.2c3.6 3.6 9 5.4 14.4 5.4s9.9-1.8 13.5-5.4 6.3-9 6.3-14.4v-46.7c23.3-3.6 41.3-24.2 41.3-49.4V237.4c-.2-28.7-23.5-52.1-53.1-52.1zm-97.5 35.2V54.7c0-30.1-24.5-54.7-54.7-54.7H54.7C24.5 0 0 24.5 0 54.7v165.9c0 26.4 18.8 49 44.3 53.7v49c0 5.7 2.8 11.3 6.6 15.1s8.5 5.7 14.1 5.7 10.4-1.9 15.1-5.7l62.2-62.2h188.4c28.4-.1 52.9-25.5 52.9-55.7zM210.2 234c0 5.8-4.6 10.4-10.4 10.4h-26.7c-5.8 0-10.4-4.6-10.4-10.4v-17.4c0-5.8 4.6-10.4 10.4-10.4h26.7c5.8 0 10.4 4.6 10.4 10.4V234zm43-104.5c-7 10.4-16.2 11.8-26.7 17.6-5.8 3.5-10.4 8.1-12.8 12.8a95.35 95.35 0 0 0-3.5 12.8c0 3.5-3.5 7-7 7h-33.6c-4.6 0-8.1-3.5-7-8.1 1.2-9.3 3.5-16.2 7-22 4.6-7 12.8-8.3 25.5-17.6 7-3.5 11.6-9.3 15.1-15.1S216 104.1 216 96s-2.3-13.9-7-19.7c-4.6-4.6-10.4-7-18.6-7-7 0-11.6 2.3-16.2 5.8-2.3 2.3-4.6 5.8-5.8 9.3-1.2 4.6-5.8 8.1-10.4 8.1h-31.3c-3.5 0-7-3.5-7-7 1.2-16.2 7-29 18.6-38.3 12.8-10.4 30.2-15.1 51.1-15.1 23.2 0 40.6 5.8 53.4 17.4s19.7 26.7 19.7 46.4c1.1 12.7-2.4 23.2-9.3 33.6z" />
                        </svg>
                </div>

                <a>Hỏi đáp</a>
            </li>

            <li class="sidebar-menu-item">
                <div class="sidebar-menu-icon">

                    <svg class="svg-inline svg  "  viewBox="0 0 345.1 512">
                        <path
                            d="M279.4 23.7H30.8C14.5 23.7 0 38.2 0 56.3v401.8c0 16.3 14.5 30.8 30.8 30.8h69L76 449.4H34.5V96.2h243.1v152l34.5 22V56.3c-.1-18.1-14.6-32.6-32.7-32.6zm-52.6 53.4H86.1c-8.1 0-13.5-5.4-13.5-13.5S78 50.1 86.1 50.1h140.8c5.4 0 10.8 5.4 10.8 13.5s-5.4 13.5-10.9 13.5zm-37.4 123.6c-14.4 0-25.9 11.6-25.9 25.9v155.7l-17.3-34.6c-14.2-26.3-28.1-23.6-38.9-17.3-12.5 8.3-17.2 17-8.6 38.9 19.6 48.2 49.8 105.6 82.2 142.7h116.7c41-30.4 74-175 17.3-181.6-5.2 0-13.5.8-17.3 4.3 0-17.3-15.1-21.7-21.6-21.6-7.5.1-13 4.3-17.3 13 0-17.3-14.1-21.6-21.6-21.6-8.3 0-17.9 5.2-21.6 13v-90.8c-.1-14.4-11.7-26-26.1-26z" />
                        </svg>
                </div>

                <a>Hướng dẫn</a>
            </li>
            <li class="sidebar-menu-item">
                <div class="sidebar-menu-icon">

                    <svg class="svg-inline svg  "  viewBox="0 0 507 512" fill-rule="evenodd">
                        <path
                            d="M327.4 331.3c0 5.8-36.4 42.3-42.3 42.3h-63.4c-5.8 0-42.3-36.4-42.3-42.3v-44.4H0v169c0 5.8 4.7 10.6 10.6 10.6h485.8c5.8 0 10.6-4.7 10.6-10.6v-169H327.4v44.4zm-51.7 4.7l14.6-14.6v-34.7h-73.7v35.8L230 336zm220.7-207.5H377.3V60.9a15.41 15.41 0 0 0-15.4-15.4H145.2a15.41 15.41 0 0 0-15.4 15.4v67.6H10.6C4.8 128.5 0 133.2 0 139v107.8h507V139.1c0-5.8-4.8-10.6-10.6-10.6zm-335.8-52h185.8v52.1H160.6V76.5z" />
                        </svg>

                
                </div>

                <a>Tuyển dụng</a>
            </li>
            <li class="sidebar-menu-item">
                <div class="sidebar-menu-icon">

                    <svg  class="svg-inline svg  "  viewBox="0 0 414.7 512"><path d="M80 241.8v-55.7c0-10.9-6.3-20.4-15.5-24.9 4-75.3 66.5-135.4 142.9-135.4s138.9 60.1 142.8 135.4c-9.2 4.6-15.5 14-15.5 24.9v55.7c0 3.7.7 7.1 2 10.4-16.2 11.6-39.9 19.9-66.5 22.2-3-4.6-8.2-7.6-14-7.6H234c-9.2 0-16.7 7.5-16.7 16.7s7.5 16.7 16.7 16.7h22.2c6.5 0 11.9-3.7 14.7-9 30.9-2.4 57.8-11.9 76.7-25.8 4.3 2.8 9.5 4.4 15 4.4h1.4l27.9-83.6c0-11.1-6.5-20.7-15.9-25.1C371.9 71.6 297.8 0 207.3 0S42.8 71.6 38.8 161c-9.4 4.4-15.9 14-15.9 25.1l27.9 83.6c-.1.1 29.2-12.4 29.2-27.9zm138.9-.9h72.8c9.5-17.4 15.1-37 15.1-56.3 0-54.9-44.6-99.5-99.5-99.5s-99.5 44.6-99.5 99.5c0 47 32.7 96.4 76.6 109.6-2.1-4.7-3.4-10-3.4-15.5.1-20.8 17.1-37.8 37.9-37.8zm195.3 225.4c-.9-22.8-2.1-45.7-9.3-67.6-2-6.2-4.3-12.9-8.3-17.8-4.3-5.2-10.2-10.6-16.3-12.2L335.6 357l-68.1-17c-1.3-.3-2.7-.2-5-.4l-.9 3.1-12.1 43.7c-5.4 17.3-11.4 34.4-17.3 51.4-.7 1.9-1.5 3.7-2.5 5.5l-3.7-28-4.7-37.5 2.7-6.1c.1-.3.2-.6.4-.9l1.5-3.6c.3-.4.5-1 .8-1.4.8-1.6 1.7-3.3 1.7-5.3 0-1.7-.7-3.3-1.2-4.6l-.3-.6c-.1-.3-.1-.4-.3-.7-.1-.4-.4-.9-.7-1.4l-.1-.3c-.1-.1-.3-.3-.3-.4-.3-.6-.7-1-1.1-1.2-.7-.5-1.5-.7-2-.8H221c-.4-.3-1-.3-1.2-.3-1.9-.1-6.5-.1-12.5-.1l-12.6.1c-.4 0-.8 0-1.2.3h-1.2c-.9.2-2.1.5-3.2 2-.1.1-.1.3-.2.6l-.2.1c0 .1-.1.2-.2.3-1.1 1.1-1.7 2.5-1.7 4.3-.2.8-.5 1.7-.5 2.6 0 2 .9 3.7 1.7 5.3 0 .1.2.3.2.5.2.3.4.7.6 1l1.6 3.6.3.6 2.8 6.4c0 .4-.5 4.5-1.3 10.7l-7.2 54.8c-.9-1.8-1.8-3.6-2.5-5.5l-17.3-51.4c-4.5-14.4-8.2-29.1-12.2-43.8-.3-1-.5-2-.8-3-2.3.2-3.7.1-5 .4l-60.9 15.2-51.9 13.5c-5.8 1.6-11.4 6.4-15.5 11.3-.3.3-.5.6-.8.9-4 4.9-6.3 11.5-8.3 17.8-6.4 19.5-8.1 39.7-9 60l-.3 7.7C-.1 480.9-2.2 478 11.9 484a103.81 103.81 0 0 0 10.6 3.9c25.5 8.3 51.4 13.8 77.6 17.4 25.6 3.6 51.5 5.4 77.5 6.4 5 .2 44.7.5 44.7.5l14.9-.5c41-1.5 81.9-5.2 121.8-14.5 11.2-2.6 22.3-5.7 33.4-9.2a191.39 191.39 0 0 0 10.6-3.9c13.9-6.2 11.8-3.4 11.2-17.8z"/></svg>
                </div>

                <a>Liên hệ</a>
            </li>

        </ul>

        <hr>

        <p class="menu-label">
            Hỗ trợ
        </p>
        <ul class="list-normal">
            <li>
                Hot line : <a href="tel: 1900 5454 41" class="has-text-weight-bold is-size-5">1900 54 54</a>
            </li>

            <li>

                Tổng đài gọi ra : <a href="tel:028.7306.5555">028.7306.5555</a>
            </li>
            <li>

                Chăm sóc khách hàng :

                <a class="" href="mailto: hotro@momo.vn"> hotro@momo.vn </a>
            </li>
        </ul>

        <hr>
        <p class="menu-label">
            Tải ứng dụng
        </p>
        <div class="columns is-mobile is-gapless">
            <div class="column">
                <a href="https://itunes.apple.com/vn/app/id918751511?utm_source=website-momo&amp;utm_medium=download&amp;utm_campaign=momo-1dong"
                    class="link-white" target="_blank">

                    <amp-img alt="A view of the sea" src="https://static.mservice.io/img/tai-appstore.png" width="130"
                        height="39" layout="responsive">
                    </amp-img>

                </a>
            </div>
            <div class="column">
                <a href="https://play.google.com/store/apps/details?id=com.mservice.momotransfer&amp;utm_source=website-momo&amp;utm_medium=download&amp;utm_campaign=momo-1dong"
                    class="link-white" target="_blank">

                    <amp-img alt="A view of the sea" src="https://static.mservice.io/img/tai-google-play.png"
                        width="130" height="39" layout="responsive">
                    </amp-img>

                </a>
            </div>
        </div>
        <hr>
        <!-- 

        <p class="menu-label">
            Kết nối
        </p>
        <ul class="">
            <li><a>Payments</a></li>
            <li><a>Transfers</a></li>
            <li><a>Balance</a></li>
        </ul> -->

        <ul class="list-normal">
            <li>
                <div class="text-capitalize has-text-weight-bold">
                    Công ty cổ phần dịch vụ
                    di động trực tuyến (Viết tắt M_SERVICE)
                </div>
            </li>
            <li>
                <div class="is-size-7 has-text-grey">
                    Lầu M, Toà nhà Petroland, 12 Tân Trào, P. Tân Phú,
                    Q.7, Tp. Hồ Chí Minh
                </div>
            </li>
        </ul>


    </aside>
</amp-sidebar><!-- SIDEBAR ENDS -->

<nav class="mainnav" itemscope itemtype="https://schema.org/WPHeader" role="navigation" aria-label="main navigation">

    <a class="mainnav-item mainnav-logo " href="https://momo.vn">
        <div class="momo-logo">
            <amp-img src="https://static.mservice.io/img/logo-momo.png" width="40" height="40">
            </amp-img>
        </div>
    </a>

    <a class="mainnav-item momo-search-container">
        <div class="control has-icons-right momo-search">
            <input class="input" type="email" placeholder="Bạn tìm gì">

            <span class="icon is-small is-right">
                <svg enable-background="new 0 0 250.313 250.313" version="1.1" viewBox="0 0 250.31 250.31"
                    xml:space="preserve" >
                    <path
                        d="m244.19 214.6-54.379-54.378c-0.289-0.289-0.628-0.491-0.93-0.76 10.7-16.231 16.945-35.66 16.945-56.554 0-56.837-46.075-102.91-102.91-102.91s-102.91 46.075-102.91 102.91c0 56.835 46.074 102.91 102.91 102.91 20.895 0 40.323-6.245 56.554-16.945 0.269 0.301 0.47 0.64 0.759 0.929l54.38 54.38c8.169 8.168 21.413 8.168 29.583 0 8.168-8.169 8.168-21.413 0-29.582zm-141.28-44.458c-37.134 0-67.236-30.102-67.236-67.235 0-37.134 30.103-67.236 67.236-67.236 37.132 0 67.235 30.103 67.235 67.236s-30.103 67.235-67.235 67.235z"
                        clip-rule="evenodd" fill-rule="evenodd" />
                </svg>
            </span>
        </div>
    </a>

    <a role="button" class="mainnav-burger mainnav-item" on='tap:mainSideBar.toggle' aria-label="menu"
        aria-expanded="false">
   
        <svg class="svg-inline svg  "  viewBox="0 0 32 29.3"><path d="M2.5 5.4h26.7c1.5 0 2.7-1.1 2.7-2.6v-.1C32 1.2 30.8 0 29.3 0H2.6A2.65 2.65 0 0 0 0 2.6v.1c0 1.4 1.1 2.6 2.5 2.7zm26.8 6.5H2.6c-1.5 0-2.6 1.2-2.6 2.6v.1c0 1.4 1.1 2.6 2.5 2.6h26.7c1.5 0 2.7-1.1 2.7-2.6v-.1c.1-1.4-1.1-2.6-2.6-2.6zm.1 12c-.1 0-.1 0 0 0H2.7C1.2 23.9 0 25 0 26.4v.1c0 1.5 1.1 2.7 2.5 2.7h26.7a2.69 2.69 0 0 0 2.7-2.7c.1-1.4-1.1-2.6-2.5-2.6z"/></svg>
    </a>
</nav>

<section class="cluster">
    <div class="container ">
        <div class="content">
            <article class="post">
                <header class="post-header">
                    <h1 class="post-header-title">Công bố 34 khách hàng may mắn nhất chương trình ‘Cùng Vietcombank: Mở
                        Ví MoMo - Âu Châu thẳng tiến’
                    </h1>

                    <div class="post-byline">
                        <div class="columns is-gapless is-mobile is-vcentered">
                            <div class="column is-narrow">
                                <div class="post-date">
                                    Thứ 2, 05/08/2019
                                </div>
                            </div>

                            <div class="column is-narrow">
                                <div class="post-date">
                                    &#8226; 1,6k lượt xem
                                </div>
                            </div>


                            <div class="column">
                                <div class="post-share">
                                    <amp-social-share type="facebook" width="24" height="24" layout="fixed"
                                        data-param-text="Hello world" data-param-href="https://example.com/?ref=URL"
                                        data-param-app_id="145634995501895">



                                    </amp-social-share>

                                    <amp-social-share type="twitter" width="24" height="24" layout="fixed">



                                    </amp-social-share>



                                </div>
                            </div>
                        </div>
                    </div>


                    <h2 class="post-desc">Buổi lễ quay số cuối chương trình ‘Cùng Vietcombank: Mở Ví MoMo - Âu Châu
                        thẳng tiến’ đã được diễn ra vào ngày 02/08 trong không khí hồi họp của tất cả mọi người. 34
                        chủ
                        nhân của các giải thưởng giá trị như: 2 chuyến Du lịch châu Âu trọn gói, iPhone XS Max
                        256GB,
                        điều hòa Panasonic Inverter và 20 thẻ quà tặng trị giá 1.5 triệu đồng đã chính thức lộ diện.
                    </h2>
                </header>



                <div class="post-body">

                    <div class="full-content">
                        <div style="text-align:justify"><span style="font-size:14px">


                                <amp-img alt="A view of the sea"
                                    src="https://static.mservice.io/blogscontents/momo-upload-api-190805084629-637005915893072391.jpg"
                                    width="1.7" height="1" layout="responsive">
                                </amp-img>

                                <br> Từ 17/6 đến 21/7/2019, Vietcombank và Ví điện tử MoMo triển khai chương trình
                                khuyến mại “Cùng Vietcombank: Mở Ví MoMo - Âu Châu thẳng tiến” với tổng giá trị quà tặng
                                và giải thưởng lên đến hàng trăm triệu đồng.&nbsp;<br> <br> Trải qua 4 tuần quay số với
                                120 khách hàng may mắn nhận được combo quà tặng 500.000 đồng. Chương trình quay số cuối
                                chương trình được diễn ra vào ngày 02/08 đã&nbsp;gọi tên 34 khách hàng may mắn nhất tham
                                gia chương trình và rinh về những giải thưởng khủng.<br> <br> Để đảm bảo tính minh bạch
                                cho việc quay số cho tất cả mã dự thưởng hợp lệ trong tuần bằng công cụ của website
                                <span style="color:#cc0033"><strong>RANDOM.ORG</strong></span>. Buổi quay số được phát
                                trực tiếp bằng hình thức livestream trên <a
                                    href="https://www.facebook.com/vimomo">Fanpage Ví MoMo</a>.&nbsp;<br> <br> Ngày
                                02/08, sau lễ quay số được livestream trực tiếp trên fanpage Ví MoMo, xin chúc mừng các
                                chủ nhân may mắn nhận các giải thưởng giá trị như sau:
                            </span></div>
                        <ul>
                            <li style="text-align:justify"><span style="font-size:14px">02 Giải đặc biệt: vé tour du
                                    lịch Châu Âu 9N8Đ trị giá 60 triệu đồng/giải: anh/ chị …</span></li>
                            <li style="text-align:justify"><span style="font-size:14px">04 Giải nhất: Iphone XS Max
                                    256GB trị giá 39 triệu đồng/chiếc: anh/ chị …</span></li>
                            <li style="text-align:justify"><span style="font-size:14px">08 Giải nhì: Điều hòa Panasonic
                                    Inverter trị giá 11 triệu đồng/chiếc: anh/ chị …</span></li>
                            <li style="text-align:justify"><span style="font-size:14px">20 Giải khuyến khích: Thẻ quà
                                    tặng trị giá 1.5 triệu đồng/giải: anh/ chị …</span></li>
                        </ul>
                        <p>
                            <amp-youtube width="480" height="270" layout=responsive data-videoid="Sh0EWFQ_nWc">
                            </amp-youtube>

                        </p>


                        <div style="text-align:justify">
                            <div style="text-align:center"><span style="font-size:14px"><span
                                        style="color:#cc0033"><strong>DANH SÁCH KHÁCH HÀNG TRÚNG
                                            THƯỞNG</strong></span></span></div>&nbsp;<table border="0" cellpadding="0"
                                cellspacing="0" style="width:539px" width="538">
                                <colgroup>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                </colgroup>
                                <tbody>
                                    <tr height="17">
                                        <td height="17" style="height:17px;width:131px;text-align:center"><span
                                                style="font-size:14px"><span style="color:#cc0033"><strong>Mã Dự
                                                        Thưởng</strong></span></span></td>
                                        <td style="width:212px;text-align:center"><span style="font-size:14px"><span
                                                    style="color:#cc0033"><strong>Họ &amp; Tên</strong></span></span>
                                        </td>
                                        <td style="width:84px;text-align:center"><span style="font-size:14px"><span
                                                    style="color:#cc0033"><strong>SĐT</strong></span></span></td>
                                        <td style="width:112px;text-align:center"><span style="font-size:14px"><span
                                                    style="color:#cc0033"><strong>Giải Thưởng</strong></span></span>
                                        </td>
                                    </tr>
                                    <tr height="17">
                                        <td height="17" style="height:17px;width:131px;text-align:center"><span
                                                style="font-size:14px">1000844</span></td>
                                        <td style="width:212px;text-align:center"><span style="font-size:14px">DUONG VAN
                                                ANH</span></td>
                                        <td style="text-align:center"><span style="font-size:14px">093xxxx264</span>
                                        </td>
                                        <td style="text-align:center"><span style="font-size:14px">Giải Đặc biệt</span>
                                        </td>
                                    </tr>
                                    <tr height="17">
                                        <td height="17" style="height:17px;width:131px;text-align:center"><span
                                                style="font-size:14px">10001338</span></td>
                                        <td style="width:212px;text-align:center"><span style="font-size:14px">CHAU HOAI
                                                THUONG</span></td>
                                        <td style="text-align:center"><span style="font-size:14px">091xxxx686</span>
                                        </td>
                                        <td style="text-align:center"><span style="font-size:14px">Giải Đặc biệt</span>
                                        </td>
                                    </tr>
                                    <tr height="17">
                                        <td height="17" style="height:17px;width:131px;text-align:center"><span
                                                style="font-size:14px">1000145</span></td>
                                        <td style="width:212px;text-align:center"><span style="font-size:14px">PHAM NGOC
                                                THANH</span></td>
                                        <td style="text-align:center"><span style="font-size:14px">096xxxx082</span>
                                        </td>
                                        <td style="text-align:center"><span style="font-size:14px">Giải Nhì</span></td>
                                    </tr>
                                    <tr height="17">
                                        <td height="17" style="height:17px;width:131px;text-align:center"><span
                                                style="font-size:14px">10001580</span></td>
                                        <td style="width:212px;text-align:center"><span style="font-size:14px">PHAM DUC
                                                THANH</span></td>
                                        <td style="text-align:center"><span style="font-size:14px">090xxxx232</span>
                                        </td>
                                        <td style="text-align:center"><span style="font-size:14px">Giải Nhì</span></td>
                                    </tr>
                                    <tr height="17">
                                        <td height="17" style="height:17px;width:131px;text-align:center"><span
                                                style="font-size:14px">10002383</span></td>
                                        <td style="width:212px;text-align:center"><span style="font-size:14px">VU BA
                                                QUANG</span></td>
                                        <td style="text-align:center"><span style="font-size:14px">090xxxx899</span>
                                        </td>
                                        <td style="text-align:center"><span style="font-size:14px">Giải Nhì</span></td>
                                    </tr>
                                    <tr height="17">
                                        <td height="17" style="height:17px;width:131px;text-align:center"><span
                                                style="font-size:14px">10002740</span></td>
                                        <td style="width:212px;text-align:center"><span style="font-size:14px">DANG THI
                                                THU HOAI</span></td>
                                        <td style="text-align:center"><span style="font-size:14px">091xxxx248</span>
                                        </td>
                                        <td style="text-align:center"><span style="font-size:14px">Giải Nhì</span></td>
                                    </tr>
                                    <tr height="17">
                                        <td height="17" style="height:17px;width:131px;text-align:center"><span
                                                style="font-size:14px">1000469</span></td>
                                        <td style="width:212px;text-align:center"><span style="font-size:14px">LE MINH
                                                HIEU</span></td>
                                        <td style="text-align:center"><span style="font-size:14px">096xxxx902</span>
                                        </td>
                                        <td style="text-align:center"><span style="font-size:14px">Giải Ba</span></td>
                                    </tr>
                                    <tr height="17">
                                        <td height="17" style="height:17px;width:131px;text-align:center"><span
                                                style="font-size:14px">1000551</span></td>
                                        <td style="width:212px;text-align:center"><span style="font-size:14px">THI
                                                MAY</span></td>
                                        <td style="text-align:center"><span style="font-size:14px">012xxxx6839</span>
                                        </td>
                                        <td style="text-align:center"><span style="font-size:14px">Giải Ba</span></td>
                                    </tr>
                                    <tr height="17">
                                        <td height="17" style="height:17px;width:131px;text-align:center"><span
                                                style="font-size:14px">1000703</span></td>
                                        <td style="width:212px;text-align:center"><span style="font-size:14px">LE DINH
                                                DUNG</span></td>
                                        <td style="text-align:center"><span style="font-size:14px">090xxxx688</span>
                                        </td>
                                        <td style="text-align:center"><span style="font-size:14px">Giải Ba</span></td>
                                    </tr>
                                    <tr height="17">
                                        <td height="17" style="height:17px;width:131px;text-align:center"><span
                                                style="font-size:14px">1000756</span></td>
                                        <td style="width:212px;text-align:center"><span style="font-size:14px">PHAM VAN
                                                NGAN</span></td>
                                        <td style="text-align:center"><span style="font-size:14px">016xxxx1154</span>
                                        </td>
                                        <td style="text-align:center"><span style="font-size:14px">Giải Ba</span></td>
                                    </tr>
                                    <tr height="17">
                                        <td height="17" style="height:17px;width:131px;text-align:center"><span
                                                style="font-size:14px">10001915</span></td>
                                        <td style="width:212px;text-align:center"><span style="font-size:14px">DONG VAN
                                                SON</span></td>
                                        <td style="text-align:center"><span style="font-size:14px">097xxxx094</span>
                                        </td>
                                        <td style="text-align:center"><span style="font-size:14px">Giải Ba</span></td>
                                    </tr>
                                    <tr height="17">
                                        <td height="17" style="height:17px;width:131px;text-align:center"><span
                                                style="font-size:14px">10002184</span></td>
                                        <td style="width:212px;text-align:center"><span style="font-size:14px">LUONG
                                                DANG TOAN</span></td>
                                        <td style="text-align:center"><span style="font-size:14px">016xxxx8135</span>
                                        </td>
                                        <td style="text-align:center"><span style="font-size:14px">Giải Ba</span></td>
                                    </tr>
                                    <tr height="17">
                                        <td height="17" style="height:17px;width:131px;text-align:center"><span
                                                style="font-size:14px">10002244</span></td>
                                        <td style="width:212px;text-align:center"><span style="font-size:14px">CHAU THI
                                                LO</span></td>
                                        <td style="text-align:center"><span style="font-size:14px">092xxxx234</span>
                                        </td>
                                        <td style="text-align:center"><span style="font-size:14px">Giải Ba</span></td>
                                    </tr>
                                    <tr height="17">
                                        <td height="17" style="height:17px;width:131px;text-align:center"><span
                                                style="font-size:14px">10002558</span></td>
                                        <td style="width:212px;text-align:center"><span style="font-size:14px">NGUYEN
                                                THE VINH</span></td>
                                        <td style="text-align:center"><span style="font-size:14px">090xxxx133</span>
                                        </td>
                                        <td style="text-align:center"><span style="font-size:14px">Giải Ba</span></td>
                                    </tr>
                                    <tr height="17">
                                        <td height="17" style="height:17px;width:131px;text-align:center"><span
                                                style="font-size:14px">100010</span></td>
                                        <td style="width:212px;text-align:center"><span style="font-size:14px">NGUYEN HO
                                                NHU NGOC</span></td>
                                        <td style="text-align:center"><span style="font-size:14px">096xxxx782</span>
                                        </td>
                                        <td style="text-align:center"><span style="font-size:14px">Giải khuyến
                                                khích</span></td>
                                    </tr>
                                    <tr height="17">
                                        <td height="17" style="height:17px;width:131px;text-align:center"><span
                                                style="font-size:14px">1000118</span></td>
                                        <td style="width:212px;text-align:center"><span style="font-size:14px">PHAM QUOC
                                                BINH</span></td>
                                        <td style="text-align:center"><span style="font-size:14px">012xxxx1538</span>
                                        </td>
                                        <td style="text-align:center"><span style="font-size:14px">Giải khuyến
                                                khích</span></td>
                                    </tr>
                                    <tr height="17">
                                        <td height="17" style="height:17px;width:131px;text-align:center"><span
                                                style="font-size:14px">1000126</span></td>
                                        <td style="width:212px;text-align:center"><span style="font-size:14px">NGUYEN
                                                THI HOA</span></td>
                                        <td style="text-align:center"><span style="font-size:14px">091xxxx709</span>
                                        </td>
                                        <td style="text-align:center"><span style="font-size:14px">Giải khuyến
                                                khích</span></td>
                                    </tr>
                                    <tr height="17">
                                        <td height="17" style="height:17px;width:131px;text-align:center"><span
                                                style="font-size:14px">1000191</span></td>
                                        <td style="width:212px;text-align:center"><span style="font-size:14px">LE THI
                                                NGOC MY</span></td>
                                        <td style="text-align:center"><span style="font-size:14px">016xxxx9805</span>
                                        </td>
                                        <td style="text-align:center"><span style="font-size:14px">Giải khuyến
                                                khích</span></td>
                                    </tr>
                                    <tr height="17">
                                        <td height="17" style="height:17px;width:131px;text-align:center"><span
                                                style="font-size:14px">1000200</span></td>
                                        <td style="width:212px;text-align:center"><span style="font-size:14px">PHAM VAN
                                                CHIEU</span></td>
                                        <td style="text-align:center"><span style="font-size:14px">016xxxx9991</span>
                                        </td>
                                        <td style="text-align:center"><span style="font-size:14px">Giải khuyến
                                                khích</span></td>
                                    </tr>
                                    <tr height="17">
                                        <td height="17" style="height:17px;width:131px;text-align:center"><span
                                                style="font-size:14px">1000290</span></td>
                                        <td style="width:212px;text-align:center"><span style="font-size:14px">TRAN KIM
                                                DIEM PHUOC</span></td>
                                        <td style="text-align:center"><span style="font-size:14px">090xxxx080</span>
                                        </td>
                                        <td style="text-align:center"><span style="font-size:14px">Giải khuyến
                                                khích</span></td>
                                    </tr>
                                    <tr height="17">
                                        <td height="17" style="height:17px;width:131px;text-align:center"><span
                                                style="font-size:14px">1000328</span></td>
                                        <td style="width:212px;text-align:center"><span style="font-size:14px">LUU THI
                                                THOM</span></td>
                                        <td style="text-align:center"><span style="font-size:14px">016xxxx1860</span>
                                        </td>
                                        <td style="text-align:center"><span style="font-size:14px">Giải khuyến
                                                khích</span></td>
                                    </tr>
                                    <tr height="17">
                                        <td height="17" style="height:17px;width:131px;text-align:center"><span
                                                style="font-size:14px">1000444</span></td>
                                        <td style="width:212px;text-align:center"><span style="font-size:14px">DAO XUAN
                                                QUANG</span></td>
                                        <td style="text-align:center"><span style="font-size:14px">093xxxx386</span>
                                        </td>
                                        <td style="text-align:center"><span style="font-size:14px">Giải khuyến
                                                khích</span></td>
                                    </tr>
                                    <tr height="17">
                                        <td height="17" style="height:17px;width:131px;text-align:center"><span
                                                style="font-size:14px">1000450</span></td>
                                        <td style="width:212px;text-align:center"><span style="font-size:14px">VU VAN
                                                NAM</span></td>
                                        <td style="text-align:center"><span style="font-size:14px">090xxxx799</span>
                                        </td>
                                        <td style="text-align:center"><span style="font-size:14px">Giải khuyến
                                                khích</span></td>
                                    </tr>
                                    <tr height="17">
                                        <td height="17" style="height:17px;width:131px;text-align:center"><span
                                                style="font-size:14px">1000601</span></td>
                                        <td style="width:212px;text-align:center"><span style="font-size:14px">NGUYEN
                                                THI THANH HUYEN</span></td>
                                        <td style="text-align:center"><span style="font-size:14px">016xxxx3455</span>
                                        </td>
                                        <td style="text-align:center"><span style="font-size:14px">Giải khuyến
                                                khích</span></td>
                                    </tr>
                                    <tr height="17">
                                        <td height="17" style="height:17px;width:131px;text-align:center"><span
                                                style="font-size:14px">1000605</span></td>
                                        <td style="width:212px;text-align:center"><span style="font-size:14px">HOANG
                                                THANH MINH</span></td>
                                        <td style="text-align:center"><span style="font-size:14px">097xxxx019</span>
                                        </td>
                                        <td style="text-align:center"><span style="font-size:14px">Giải khuyến
                                                khích</span></td>
                                    </tr>
                                    <tr height="17">
                                        <td height="17" style="height:17px;width:131px;text-align:center"><span
                                                style="font-size:14px">1000686</span></td>
                                        <td style="width:212px;text-align:center"><span style="font-size:14px">PHAM
                                                NGUYEN TRUONG GIANG</span></td>
                                        <td style="text-align:center"><span style="font-size:14px">096xxxx184</span>
                                        </td>
                                        <td style="text-align:center"><span style="font-size:14px">Giải khuyến
                                                khích</span></td>
                                    </tr>
                                    <tr height="17">
                                        <td height="17" style="height:17px;width:131px;text-align:center"><span
                                                style="font-size:14px">1000786</span></td>
                                        <td style="width:212px;text-align:center"><span style="font-size:14px">LE THI
                                                THU HOAI</span></td>
                                        <td style="text-align:center"><span style="font-size:14px">094xxxx898</span>
                                        </td>
                                        <td style="text-align:center"><span style="font-size:14px">Giải khuyến
                                                khích</span></td>
                                    </tr>
                                    <tr height="17">
                                        <td height="17" style="height:17px;width:131px;text-align:center"><span
                                                style="font-size:14px">1000793</span></td>
                                        <td style="width:212px;text-align:center"><span style="font-size:14px">DAU THI
                                                CAM VAN</span></td>
                                        <td style="text-align:center"><span style="font-size:14px">089xxxx031</span>
                                        </td>
                                        <td style="text-align:center"><span style="font-size:14px">Giải khuyến
                                                khích</span></td>
                                    </tr>
                                    <tr height="17">
                                        <td height="17" style="height:17px;width:131px;text-align:center"><span
                                                style="font-size:14px">1000899</span></td>
                                        <td style="width:212px;text-align:center"><span style="font-size:14px">PHAN DUC
                                                MINH</span></td>
                                        <td style="text-align:center"><span style="font-size:14px">090xxxx563</span>
                                        </td>
                                        <td style="text-align:center"><span style="font-size:14px">Giải khuyến
                                                khích</span></td>
                                    </tr>
                                    <tr height="17">
                                        <td height="17" style="height:17px;width:131px;text-align:center"><span
                                                style="font-size:14px">10001052</span></td>
                                        <td style="width:212px;text-align:center"><span style="font-size:14px">VU QUOC
                                                TRUNG</span></td>
                                        <td style="text-align:center"><span style="font-size:14px">094xxxx412</span>
                                        </td>
                                        <td style="text-align:center"><span style="font-size:14px">Giải khuyến
                                                khích</span></td>
                                    </tr>
                                    <tr height="17">
                                        <td height="17" style="height:17px;width:131px;text-align:center"><span
                                                style="font-size:14px">10001320</span></td>
                                        <td style="width:212px;text-align:center"><span style="font-size:14px">DONG VAN
                                                SON</span></td>
                                        <td style="text-align:center"><span style="font-size:14px">097xxxx094</span>
                                        </td>
                                        <td style="text-align:center"><span style="font-size:14px">Giải khuyến
                                                khích</span></td>
                                    </tr>
                                    <tr height="17">
                                        <td height="17" style="height:17px;width:131px;text-align:center"><span
                                                style="font-size:14px">10001573</span></td>
                                        <td style="width:212px;text-align:center"><span style="font-size:14px">NGUYEN
                                                QUOC QUANG</span></td>
                                        <td style="text-align:center"><span style="font-size:14px">098xxxx285</span>
                                        </td>
                                        <td style="text-align:center"><span style="font-size:14px">Giải khuyến
                                                khích</span></td>
                                    </tr>
                                    <tr height="17">
                                        <td height="17" style="height:17px;width:131px;text-align:center"><span
                                                style="font-size:14px">10002501</span></td>
                                        <td style="width:212px;text-align:center"><span style="font-size:14px">NGUYEN
                                                DAN HUY</span></td>
                                        <td style="text-align:center"><span style="font-size:14px">090xxxx434</span>
                                        </td>
                                        <td style="text-align:center"><span style="font-size:14px">Giải khuyến
                                                khích</span></td>
                                    </tr>
                                    <tr height="17">
                                        <td height="17" style="height:17px;width:131px;text-align:center"><span
                                                style="font-size:14px">10002789</span></td>
                                        <td style="width:212px;text-align:center"><span style="font-size:14px">BUI NGOC
                                                GIANG</span></td>
                                        <td style="text-align:center"><span style="font-size:14px">091xxxx229</span>
                                        </td>
                                        <td style="text-align:center"><span style="font-size:14px">Giải khuyến
                                                khích</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div style="text-align:center">&nbsp;</div>
                        <div style="text-align:justify"><span style="font-size:14px">Công ty Cổ phần Dịch vụ Di động
                                Trực tuyến (Ví điện tử MoMo) sẽ thông báo trúng thưởng cho khách hàng thông qua số điện
                                thoại người trúng thưởng và email hoặc Công ty sẽ gửi thư thông báo trúng thưởng qua
                                đường bưu điện trong trường hợp không liên hệ được với khách hàng qua điện thoại,
                                email.<br> <br> <span style="line-height:107%;font-family:Arial,sans-serif">Đối với giải
                                    đặc biệt, giải nhất và giải nhì, khách hàng trúng thưởng nhận thưởng tại Trụ sở Công
                                    ty Cổ phần Dịch vụ Di động Trực tuyến (Lầu M, Tòa nhà Petroland, số 12, đường Tân
                                    Trào, phường Tân Phú, quận 7, Thành phố Hồ Chí Minh) hoặc sẽ nhận thưởng thông qua
                                    đường bưu điện bằng chi phí của Công ty Cổ phần Dịch vụ Di động Trực tuyến trong
                                    trường hợp khách hàng không thể nhận thưởng trực tiếp. Đối với giải khuyến khích,
                                    giải thưởng sẽ được gửi cho khách hàng qua Ứng dụng Ví MoMo, email, tin nhắn.<br>
                                    <br> <strong><span style="color:#cc0033">Đối với những khách hàng nhận thưởng tại
                                            Trụ sở Công ty Cổ phần Dịch vụ Di động Trực tuyến, bạn cần chuẩn bị những
                                            giấy tờ tùy thân sau:</span></strong></span></span><br> <span
                                style="font-size:10pt;line-height:107%;font-family:Arial,sans-serif"></span>
                            <ul>
                                <li><span style="font-size:14px">Khách hàng khi đến nhận thưởng vui lòng xuất trình điện
                                        thoại có chứa thông tin&nbsp;thông báo trúng thưởng,&nbsp;mã số dự thưởng
                                        và&nbsp;tài khoản Ví MoMo có trong danh sách trúng thưởng được công bố.</span>
                                </li>
                                <li><span style="font-size:14px">CMND hoặc Hộ chiếu&nbsp;bản gốc đã dùng để đăng ký Ví
                                        MoMo</span></li>
                                <li><span style="font-size:14px">1 bản sao CMND/Hộ chiếu có công chứng 3 tháng gần
                                        nhất</span></li>
                                <li><span style="font-size:14px">Người đến&nbsp;nhận thưởng trực tiếp phải là chủ tài
                                        khoản Ví MoMo và đúng người trên CMND/Hộ chiếu.</span></li>
                                <li><span style="font-size:14px">Khách hàng khi đến nhận thưởng vui lòng chuẩn bị tiền
                                        mặt để thanh toán tiền thuế thu nhập cá nhân tương ứng với giá trị giải thưởng
                                        được nhận (MoMo sẽ thông báo trước cho khách hàng khoản tiền này)<span
                                            style="white-space:pre">.</span></span></li>
                            </ul><span style="color:#cc0033"><strong><span style="font-size:14px"> <span
                                            style="font-family:Arial,sans-serif;text-align:justify">Đối với những khách
                                            hàng không tham gia nhận thưởng tại </span></span></strong></span><strong
                                style="font-family:Arial,sans-serif;font-size:14px;text-align:justify"><span
                                    style="color:rgb(204,0,51)">Trụ sở Công ty Cổ phần Dịch vụ Di động Trực
                                    tuyến</span></strong><span style="color:#cc0033"><strong><span
                                        style="font-size:14px"><span
                                            style="font-family:Arial,sans-serif;text-align:justify">, bạn cần chuẩn bị
                                            những giấy tờ tùy thân sau:</span></span></strong></span><br> <br> <span
                                style="font-size:14px">Khách hàng không tham gia nhận thưởng tại Trụ sở Công ty Cổ Phần
                                Dịch vụ Di Động Trực Tuyến bắt buộc phải CHUYỂN PHÁT NHANH những hồ sơ bên dưới đến Ví
                                MoMo. Khi nhận được đầy đủ giấy tờ theo yêu cầu rồi thì Ví MoMo sẽ tiến hành chuyển phát
                                nhanh giải thưởng đến khách hàng. Các giấy tờ bao gồm:</span>
                            <ul>
                                <li><span style="font-size:14px;text-align:justify">Khách hàng khi đến nhận thưởng vui
                                        lòng xuất trình điện thoại có chứa thông tin&nbsp;thông báo trúng
                                        thưởng,&nbsp;mã số dự thưởng và&nbsp;tài khoản Ví MoMo có trong danh sách trúng
                                        thưởng được công bố</span></li>
                                <li><span style="font-size:14px">1 bản sao CMND/Hộ chiếu&nbsp;có công chứng 3 tháng gần
                                        nhất</span></li>
                                <li><span style="font-size:14px">Khách hàng vui lòng chuyển khoản&nbsp;tiền thuế thu
                                        nhập cá nhân tương ứng với giá trị giải thưởng được nhận (Ví MoMo sẽ thông báo
                                        trước cho khách hàng tổng cộng số tiền và cách chuyển khoản)</span></li>
                                <li><span style="font-size:14px">Biên bản bàn giao quà tặng&nbsp; (2 bên bắt
                                        buộc&nbsp;phải ký biên bản bàn giao trước. Sau đó, Ví MoMo mới tiến hành chuyển
                                        quà, nếu không đồng ý thì khách hàng có thể đến nhận phần thưởng trực tiếp tại
                                    </span><span style="font-size:14px;text-align:justify">Trụ sở Công ty Cổ Phần Dịch
                                        vụ Di Động Trực Tuyến</span><span style="font-size:14px">).</span></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </article>
        </div>

    </div>



    <div class="container">
        <div class="section-title">
            <h4 class="section-title-text"><strong>Tin liên quan</strong></h4>
        </div>

        <div class="post-relative">
            {% for item in range(0,4) %}
            <article class="media post-relative-item">
                <figure class="media-left post-relative-img">

                    <amp-img alt="A view of the sea"
                        src="https://static.mservice.io/blogscontents/s770x370/momo-upload-api-190722142746-636994024665870456.jpg"
                        width="770" height="370" layout="responsive">
                    </amp-img>

                </figure>
                <div class="media-content">
                    <div class="">
                        <h4 class="post-relative-title">
                            <a href="/tin-tuc/tin-tuc-su-kien/vay-tien-tin-cay-tren-atome-credit-thanh-toan-an-tam-bang-vi-momo-831"
                                title="Vay tiền tin cậy trên Atome Credit, thanh toán an tâm bằng Ví MoMo"
                                class="link-black"> Vay tiền tin cậy trên Atome Credit, thanh toán an tâm bằng Ví MoMo
                            </a>
                        </h4>

                        <div class="post-relative-date">
                            22/07/2019
                        </div>
                    </div>

                </div>

            </article>

            {% endfor %}
        </div>

    </div>



</section>


<div class="container ft-ct ">

    <div class="columns is-mobile ">
        <div class="column">
            <ul class="list-normal">
                <li>
                    <a href="">Trang chủ</a>

                </li>
                <li>
                    <a href="">Hoàn tiền</a>
                </li>
                <li>
                    <a href="">Tiền điện</a>

                </li>

                <li>
                    <a href="">

                        <svg class="svg-inline svg  ">
                            <use xlink:href="svg/svg.svg#svg-facebook"></use>
                        </svg>

                        Facebook</a>
                </li>
            </ul>
        </div>
        <div class="column">
            <ul class="list-normal">
                <li>
                    <a href="">Cộng đồng</a>

                </li>
                <li>
                    <a href="">Mẹo hay</a>
                </li>
                <li>
                    <a href="">Đánh gía</a>

                </li>

                <li>
                    <a href="">
                        <svg class="svg-inline svg  ">
                            <use xlink:href="svg/svg.svg#svg-youtube"></use>
                        </svg>
                        Youtube</a>
                </li>
            </ul>
        </div>

    </div>


</div>



<div class="promo-banner">
    <amp-img src="https://static.mservice.io/img/logo-momo.png" width="50" height="50">
    </amp-img>
    <div class="promo-banner-infos">
        <div class="title">MoMo</div>
        <div class="url">50% off today</div>
    </div>
    <a href="#" class="promo-banner-btn">TẢI</a>
</div>


{% endblock %}