$momo:  #AE2070;
$momo2:  #F02475 ;

$white:    #fff ;
$gray-100: #F5F5F5 ;
$gray-200: #EEEEEE ;
$gray-300: #E0E0E0 ;
$gray-400: #BDBDBD ;
$gray-500: #9E9E9E ;
$gray-600: #757575 ;
$gray-700: #616161 ;
$gray-800: #424242 ;
$gray-900: #212121 ;
$black:    #000 ;

$widescreen-enabled: false;
$fullhd-enabled : false;

$gap: 20px;
$desktop: 769px;
$navbar-height: 3.4rem;
$navbar-item-color: white;
$navbar-background-color : $momo; 

$variable-columns: false;