@import "global";

@import "bulma/bulma";

@import "pages/home";
@import "pages/sidebar";

html,
body {
  font-size: 14px;
}

.cluster {
  padding: 15px;
}

.momo-logo {
  // border: 1px solid rgba(255,255,255,.4);
  border-radius: 5px;
  line-height: 0;
}
.momo-search {
  width: 100%;
  .icon {
    padding-top: 4px;
  }
  svg {
    width: 14px;
    fill: $momo;
  }
  .input {
    border: none;
    height: 2.5em;
    padding-left: 10px;
  }
}

.navbar-brand {
  width: 100%;
}

.momo-search-container {
  // width: 100%;
  flex: 1 1 100%;
  // padding-right: 15px;
}

.post {
  padding-top: 10px;
  padding-bottom: 10px;
}

.post-header {
  .post-header-title {
    color: $momo2;
    line-height: 1.3;
  }
  .post-desc {
    font-size: 17px;
    color: $grey;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 20px;
  }
}

.post-body {
  line-height: 1.625;
  font-size: 1.15rem;
  img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    width: auto;
    height: auto;
  }
  table,
  .table {
    width: 100%;
    @extend .table;
  }
  span,
  strong {
    line-height: inherit;
  }
}

.post-byline {
  color: $grey;
  font-size: 13px;
}

.post-byline {
  margin-bottom: 20px;
}

.social-share-container {
  height: 30px;
}

.socials-share-title {
  line-height: 30px;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}

.post-date {
  margin-right: 10px;
}

.post-share {
  line-height: 0;
}

amp-social-share[type="facebook"],
amp-social-share[type="gplus"],
amp-social-share[type="pinterest"],
amp-social-share[type="email"],
amp-social-share[type="twitter"],
amp-social-share[type="linkedin"] {
  background-size: 21px;
}

amp-social-share {
  font-size: 1.6rem;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  color: #fff;
  margin-right: 5px;

  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.post-relative {
  //   .post-relative-item:not(:last-child) {
  //     padding-bottom: 7px;
  //     margin-bottom: 7px;
  //     border-bottom: 1px solid $gray-200;
  //   }
  .media + .media {
    margin-top: 8px;
    padding-top: 8px;
  }
}

.post-relative-img {
  width: 120px;
  .image img {
    height: auto;
  }
}

.post-relative-title {
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 5px;
  line-height: 1.4;
  a {
    color: inherit;
  }
}

.post-relative-date {
  font-size: 11px;
  color: $grey;
}

.section-title {
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
  &:before {
    content: "";
    height: 4px;
    border-width: 54x 0 0;
    border-style: solid;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto 0;
    border-color: #eee;
    z-index: 0;
  }
}

.section-title-text {
  float: left;
  font-size: 18px;
  font-weight: inherit;
  margin: 0;
  line-height: inherit;
  padding: 0 20px 0 0;
  background: #fff;
  z-index: 1;
  position: relative;
}

#mainSideBar {
  padding: 15px;
}

.mainnav {
  display: flex;
  flex-flow: row nowrap;
  background: $momo;
  color: white;
  min-height: 50px;
  align-items: center;
}

.mainnav-item {
  flex: 0 0 auto;
  min-width: 0px;
}

.momo-search-container {
  flex: 1 1 0px;
}

.mainnav-burger {
  padding: 8px 15px;
  font-size: 20px;
  color: white;
  height: 100%;
}

.mainnav-logo {
  padding: 4px 10px;
}

.ft-ct {
  margin-top: 10px;
  border-top: 10px solid $gray-200;
  padding: 15px 15px 90px;

  .svg-inline {
    font-size: 1.2em;
    margin-right: 5px;
    vertical-align: middle;
  }
}

.content ul {
  margin-left: 1em;
}

.promo-banner {
  padding: 10px;
  border-radius: 10px;
  position: fixed;
  bottom: 10px;
  width: calc(100% - 20px);
  margin: 0;
  background: #eaeaec;
  display: flex;
  left: 10px;
  align-items: center;
  justify-content: space-between;
  z-index: 15;
  
  img {
    width: 50px;
    height: 50px;
    // border-radius: 12px;
  }
}

.promo-banner-infos {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-left: 15px;

 
  .title {
    color: #000;
    font-size: 17px;
    font-weight: 500;
  }
  .url {
    color: #545454;
    margin-top: 0;
    font-size: 16px;
  }
}

.promo-banner-btn{
  background: $momo;
  color: #fff;
  display: flex;
  padding: 4px 11px;
  border-radius: 30px;
  font-weight: 700;
  font-size: 15px;

  
}

.link, .tab-link {

  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  transform: translate3d(0,0,0);
  z-index: 1;
}